<a href="https://colab.research.google.com/github/reloef/Jobs_Recommender/blob/master/Copy_of_Data_collection_and_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Vacancy Dashboard data from CareerJet

In [1]:

#Import warnings
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter(action='ignore', category=FutureWarning)

# imports for NLP
import pandas as pd
import numpy as np
import nltk
import string
import re
from sklearn.pipeline import Pipeline
import pickle


# feature extraction
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

# Preprocessing
#import contractions
import os
from nltk.tokenize import WordPunctTokenizer
from bs4 import BeautifulSoup
from textblob import TextBlob
from collections import Counter
from nltk.corpus import wordnet
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from nltk.tokenize import TweetTokenizer
from nltk.stem.porter import *
import spacy
from spacy import displacy
from spacy.lang.en.stop_words import STOP_WORDS
from sklearn.preprocessing import label_binarize
from sklearn.model_selection import train_test_split

pd.set_option('display.max_columns', None)
pd.set_option('display.max_row', None)

##Extracting data from CareerJet

In [2]:
from google.colab import files
uploaded = files.upload()

Saving SA.csv to SA.csv

In [3]:
import io

In [4]:
df = pd.read_csv(io.BytesIO(uploaded['SA.csv']))
print(df)

                     locations  site                       date  \
0        Johannesburg, Gauteng   NaN  2022-04-29 07:52:13+00:00
1            Pretoria, Gauteng   NaN  2022-04-24 07:36:21+00:00
2        Johannesburg, Gauteng   NaN  2022-04-20 23:49:44+00:00
3        Midrand, Johannesburg   NaN  2022-04-15 06:38:12+00:00
4        Midrand, Johannesburg   NaN  2022-04-15 01:04:44+00:00
5                      Gauteng   NaN  2022-04-14 22:52:30+00:00
6            Pretoria, Gauteng   NaN  2022-04-13 22:27:41+00:00
7                      Gauteng   NaN  2022-04-08 22:39:14+00:00
8        Johannesburg, Gauteng   NaN  2022-04-08 07:24:27+00:00
9      Cape Town, Western Cape   NaN  2022-04-07 22:21:43+00:00
10       Johannesburg, Gauteng   NaN  2022-04-07 22:09:51+00:00
11       Midrand, Johannesburg   NaN  2022-04-05 23:50:38+00:00
12          Centurion, Gauteng   NaN  2022-04-05 22:15:14+00:00
13          Centurion, Gauteng   NaN  2022-04-04 22:22:02+00:00
14                South Africa   NaN  2022-04-03 22:55:49+00:00
15  Stellenbosch, Western Cape   NaN  2022-04-02 23:55:56+00:00
16       Johannesburg, Gauteng   NaN  2022-04-01 07:36:12+00:00
17                     Gauteng   NaN  2022-03-31 23:20:25+00:00
18       Midrand, Johannesburg   NaN  2022-03-25 23:36:08+00:00
19       Midrand, Johannesburg   NaN  2022-03-17 08:35:37+00:00
20         Edgemead, Cape Town   NaN  2022-03-05 23:37:46+00:00
21       Johannesburg, Gauteng   NaN  2022-02-25 08:25:13+00:00
22     Cape Town, Western Cape   NaN  2022-02-23 23:25:46+00:00
23          Centurion, Gauteng   NaN  2022-02-06 08:28:50+00:00
24       Johannesburg, Gauteng   NaN  2022-04-15 07:31:21+00:00
25       Johannesburg, Gauteng   NaN  2022-04-14 22:18:26+00:00
26      Rosebank, Johannesburg   NaN  2022-04-09 01:16:30+00:00
27       Johannesburg, Gauteng   NaN  2022-04-29 07:23:30+00:00
28       Johannesburg, Gauteng   NaN  2022-04-26 22:48:45+00:00
29     Cape Town, Western Cape   NaN  2022-04-24 07:39:47+00:00
30     Cape Town, Western Cape   NaN  2022-04-24 05:02:02+00:00
31     Cape Town, Western Cape   NaN  2022-04-24 04:21:01+00:00
32     Cape Town, Western Cape   NaN  2022-04-23 02:16:23+00:00
33     Cape Town, Western Cape   NaN  2022-04-23 01:29:55+00:00
34     Cape Town, Western Cape   NaN  2022-04-23 00:22:29+00:00
35                     Gauteng   NaN  2022-04-09 22:39:31+00:00
36       Johannesburg, Gauteng   NaN  2022-04-06 23:41:49+00:00
37           Pretoria, Gauteng   NaN  2022-03-14 08:23:31+00:00
38           Pretoria, Gauteng   NaN  2022-03-13 23:55:34+00:00
39           Pretoria, Gauteng   NaN  2022-03-13 00:12:20+00:00
40      Ferndale, Johannesburg   NaN  2022-03-10 23:00:33+00:00
41                South Africa   NaN  2022-03-05 04:38:31+00:00
42           Pretoria, Gauteng   NaN  2022-02-01 23:52:48+00:00
43       Midrand, Johannesburg   NaN  2022-04-15 06:01:57+00:00
44       Midrand, Johannesburg   NaN  2022-04-14 22:53:41+00:00
45     Cape Town, Western Cape   NaN  2022-04-03 22:52:48+00:00
46     Cape Town, Western Cape   NaN  2022-04-03 22:36:43+00:00
47     Cape Town, Western Cape   NaN  2022-04-03 22:34:13+00:00
48     Cape Town, Western Cape   NaN  2022-04-03 22:31:57+00:00
49     Cape Town, Western Cape   NaN  2022-04-03 22:12:37+00:00
50     Cape Town, Western Cape   NaN  2022-04-03 22:00:36+00:00
51      Randburg, Johannesburg   NaN  2022-03-25 23:07:19+00:00
52     Cape Town, Western Cape   NaN  2022-03-13 23:31:33+00:00
53       Johannesburg, Gauteng   NaN  2022-04-29 07:49:03+00:00
54       Johannesburg, Gauteng   NaN  2022-04-29 07:28:17+00:00
55                South Africa   NaN  2022-04-29 07:00:16+00:00
56                     Gauteng   NaN  2022-04-29 06:45:13+00:00
57                Western Cape   NaN  2022-04-29 06:25:12+00:00
58                Western Cape   NaN  2022-04-29 05:16:58+00:00
59                     Gauteng   NaN  2022-04-29 05:13:23+00:00
60                     Gauteng   NaN  2022-04-29 04:21:56+00:00
61                Western Cape   NaN  2022-04-29 03:33:20+00:00
62                     Gauteng   NaN  2022-04-29 03:07:21+00:00
63                Western Cape   NaN  2022-04-29 01:58:12+00:00
64                Western Cape   NaN  2022-04-29 01:50:27+00:00
65                     Gauteng   NaN  2022-04-28 23:24:10+00:00
66       Sandton, Johannesburg   NaN  2022-04-28 22:51:01+00:00
67      Rosebank, Johannesburg   NaN  2022-04-28 22:47:48+00:00
68                     Gauteng   NaN  2022-04-28 22:18:31+00:00
69       Johannesburg, Gauteng   NaN  2022-04-28 22:18:28+00:00
70     Cape Town, Western Cape   NaN  2022-04-28 07:59:53+00:00
71                South Africa   NaN  2022-04-28 07:55:58+00:00
72       Johannesburg, Gauteng   NaN  2022-04-28 07:34:18+00:00
73       Johannesburg, Gauteng   NaN  2022-04-28 07:31:11+00:00
74       Johannesburg, Gauteng   NaN  2022-04-28 07:06:26+00:00
75       Sandton, Johannesburg   NaN  2022-04-28 06:59:09+00:00
76       Johannesburg, Gauteng   NaN  2022-04-28 05:17:38+00:00
77                South Africa   NaN  2022-04-28 05:09:08+00:00
78      Rosebank, Johannesburg   NaN  2022-04-28 05:01:06+00:00
79     Cape Town, Western Cape   NaN  2022-04-28 03:30:13+00:00
80       Johannesburg, Gauteng   NaN  2022-04-28 01:15:23+00:00
81       Sandton, Johannesburg   NaN  2022-04-27 23:52:01+00:00
82       Johannesburg, Gauteng   NaN  2022-04-27 23:41:35+00:00
83       Johannesburg, Gauteng   NaN  2022-04-27 22:59:47+00:00
84          East Rand, Gauteng   NaN  2022-04-27 22:55:50+00:00
85                     Gauteng   NaN  2022-04-27 22:41:15+00:00
86          Centurion, Gauteng   NaN  2022-04-27 22:32:33+00:00
87       Johannesburg, Gauteng   NaN  2022-04-27 22:25:31+00:00
88       Sandton, Johannesburg   NaN  2022-04-27 22:22:27+00:00
89                     Gauteng   NaN  2022-04-27 22:17:23+00:00
90                     Gauteng   NaN  2022-04-27 22:17:20+00:00
91                South Africa   NaN  2022-04-27 22:15:37+00:00
92       Johannesburg, Gauteng   NaN  2022-04-27 22:14:43+00:00
93          Centurion, Gauteng   NaN  2022-04-27 22:13:04+00:00
94       Johannesburg, Gauteng   NaN  2022-04-27 22:05:38+00:00
95                South Africa   NaN  2022-04-27 22:01:12+00:00
96       Johannesburg, Gauteng   NaN  2022-04-27 07:55:07+00:00
97       Johannesburg, Gauteng   NaN  2022-04-27 07:44:14+00:00
98                South Africa   NaN  2022-04-27 05:23:19+00:00

                                                  url  \
0   http://jobviewtrack.com/en-za/job-1f1841694c10...
1   http://jobviewtrack.com/en-za/job-4f13416c7a37...
2   http://jobviewtrack.com/en-za/job-121341694c10...
3   http://jobviewtrack.com/en-za/job-1c1b41694c10...
4   http://jobviewtrack.com/en-za/job-1c1b41694c10...
5   http://jobviewtrack.com/en-za/job-4e1941694c10...
6   http://jobviewtrack.com/en-za/job-1f4e417e480a...
7   http://jobviewtrack.com/en-za/job-1e1d417e480a...
8   http://jobviewtrack.com/en-za/job-4e48417e480a...
9   http://jobviewtrack.com/en-za/job-4b1941694c10...
10  http://jobviewtrack.com/en-za/job-1b1d41694c10...
11  http://jobviewtrack.com/en-za/job-1b1d416f6444...
12  http://jobviewtrack.com/en-za/job-1b1b41694c10...
13  http://jobviewtrack.com/en-za/job-1b1b41694c10...
14  http://jobviewtrack.com/en-za/job-4f4d41694c10...
15  http://jobviewtrack.com/en-za/job-481f41694c10...
16  http://jobviewtrack.com/en-za/job-184841694c10...
17  http://jobviewtrack.com/en-za/job-1e1d417e480a...
18  http://jobviewtrack.com/en-za/job-1e4941694c10...
19  http://jobviewtrack.com/en-za/job-1b1d416f6444...
20  http://jobviewtrack.com/en-za/job-1d1c41694c10...
21  http://jobviewtrack.com/en-za/job-134f41694c10...
22  http://jobviewtrack.com/en-za/job-1d4841694c10...
23  http://jobviewtrack.com/en-za/job-491e41694c10...
24  http://jobviewtrack.com/en-za/job-1b1d41694c10...
25  http://jobviewtrack.com/en-za/job-1b1d41694c10...
26  http://jobviewtrack.com/en-za/job-1a1c41694c10...
27  http://jobviewtrack.com/en-za/job-1e4a417e4e0d...
28  http://jobviewtrack.com/en-za/job-1a13417d5f0b...
29  http://jobviewtrack.com/en-za/job-191d417d451d...
30  http://jobviewtrack.com/en-za/job-1c1b416e4209...
31  http://jobviewtrack.com/en-za/job-4c1f417e4e0d...
32  http://jobviewtrack.com/en-za/job-181c416e4209...
33  http://jobviewtrack.com/en-za/job-4e13417d451d...
34  http://jobviewtrack.com/en-za/job-124e417e4e0d...
35  http://jobviewtrack.com/en-za/job-4e1341684303...
36  http://jobviewtrack.com/en-za/job-4b4e416e4209...
37  http://jobviewtrack.com/en-za/job-194841604c0a...
38  http://jobviewtrack.com/en-za/job-194841604c0a...
39  http://jobviewtrack.com/en-za/job-194841604c0a...
40  http://jobviewtrack.com/en-za/job-481c41684303...
41  http://jobviewtrack.com/en-za/job-1d4e41604800...
42  http://jobviewtrack.com/en-za/job-1e1e416b440a...
43  http://jobviewtrack.com/en-za/job-494f417e480a...
44  http://jobviewtrack.com/en-za/job-494f417e480a...
45  http://jobviewtrack.com/en-za/job-4918417d451d...
46  http://jobviewtrack.com/en-za/job-181c416e4209...
47  http://jobviewtrack.com/en-za/job-4c1f417e4e0d...
48  http://jobviewtrack.com/en-za/job-4e13417d451d...
49  http://jobviewtrack.com/en-za/job-124e417e4e0d...
50  http://jobviewtrack.com/en-za/job-1c1b416e4209...
51  http://jobviewtrack.com/en-za/job-1b1e41654403...
52  http://jobviewtrack.com/en-za/job-1a1c41654403...
53  http://jobviewtrack.com/en-za/job-1e1241694c10...
54  http://jobviewtrack.com/en-za/job-191c41694c10...
55  http://jobviewtrack.com/en-za/job-1c1f41694c10...
56  http://jobviewtrack.com/en-za/job-1c1a41694c10...
57  http://jobviewtrack.com/en-za/job-494a41604c17...
58  http://jobviewtrack.com/en-za/job-121841694c10...
59  http://jobviewtrack.com/en-za/job-4e1241694c10...
60  http://jobviewtrack.com/en-za/job-4b1c41694c10...
61  http://jobviewtrack.com/en-za/job-121841694c10...
62  http://jobviewtrack.com/en-za/job-1e49416e0d27...
63  http://jobviewtrack.com/en-za/job-1c4941604c17...
64  http://jobviewtrack.com/en-za/job-4e1c41604c17...
65  http://jobviewtrack.com/en-za/job-4b4e41654805...
66  http://jobviewtrack.com/en-za/job-481c416c5711...
67  http://jobviewtrack.com/en-za/job-191841694c10...
68  http://jobviewtrack.com/en-za/job-484941684303...
69  http://jobviewtrack.com/en-za/job-191c41694c10...
70  http://jobviewtrack.com/en-za/job-134a417e4c08...
71  http://jobviewtrack.com/en-za/job-1c1941694c10...
72  http://jobviewtrack.com/en-za/job-191c41694c10...
73  http://jobviewtrack.com/en-za/job-1b1841694c10...
74  http://jobviewtrack.com/en-za/job-1f19416e480a...
75  http://jobviewtrack.com/en-za/job-1b1d41694c10...
76  http://jobviewtrack.com/en-za/job-1e1241694c10...
77  http://jobviewtrack.com/en-za/job-4e1a416e410b...
78  http://jobviewtrack.com/en-za/job-4b4a41694c10...
79  http://jobviewtrack.com/en-za/job-4c4a417f4810...
80  http://jobviewtrack.com/en-za/job-191c41694c10...
81  http://jobviewtrack.com/en-za/job-1b1d41694c10...
82  http://jobviewtrack.com/en-za/job-4c1a417e480a...
83  http://jobviewtrack.com/en-za/job-1b1841694c10...
84  http://jobviewtrack.com/en-za/job-4c1a41694c10...
85  http://jobviewtrack.com/en-za/job-4b1c41694c10...
86  http://jobviewtrack.com/en-za/job-191f41694c10...
87  http://jobviewtrack.com/en-za/job-191c41694c10...
88  http://jobviewtrack.com/en-za/job-1b1d41694c10...
89  http://jobviewtrack.com/en-za/job-1d1241694c10...
90  http://jobviewtrack.com/en-za/job-4e1c41694c10...
91  http://jobviewtrack.com/en-za/job-1a13417e4c08...
92  http://jobviewtrack.com/en-za/job-1e1241694c10...
93  http://jobviewtrack.com/en-za/job-191f41694c10...
94  http://jobviewtrack.com/en-za/job-1e1241694c10...
95  http://jobviewtrack.com/en-za/job-1e1c416a5f05...
96  http://jobviewtrack.com/en-za/job-4b4d416c5711...
97  http://jobviewtrack.com/en-za/job-4c1a417e480a...
98  http://jobviewtrack.com/en-za/job-1c4a41694c10...

                                                title  \
0                     Data Analytics Sales Specialist
1   AWS Data Science Architect – Semi Remote – R74...
2              Consultant, Data Science and Analytics
3   AWS Data Science Architect (Contract) Midrand/...
4   AWS Data Science Architect (Contract) Midrand/...
5                                Data Science Manager
6                        Senior Manager: Data science
7                         Data Science Senior Manager
8   Senior Manager: Data Science – Remote – Offeri...
9                           Snr Manager: Data Science
10                               Data Science Manager
11          BI Developer - Cloud & Data Science B1703
12                          Snr Manager: Data Science
13                          Snr Manager: Data Science
14                          Snr Manager: Data Science
15            Data Science - Cape Town & Johannesburg
16                          Snr Manager: Data Science
17                       Senior Manager: Data Science
18                               Data Science Manager
19          BI Developer - Cloud & Data Science B1703
20                             Data Science Team Lead
21          DATA SCIENTIST (DATA SCIENCE & ANALYTICS)
22  2022 Graduate - Data Science Associate, Agribu...
23  Recent Graduate with 0 to 2 years’ experience ...
24                               Data Science Manager
25                               Data Science Manager
26              Manager, Data Driven Decision Science
27  Lecturer, Faculty of Science: Academy of Compu...
28     Regional Product Consultant - Recovery Science
29                    Senior Physical Science Teacher
30              IGCSE Computer Science Senior Teacher
31                             Science Senior Teacher
32                     IGCSE Computer Science Teacher
33       Physical Science Teacher: International GCSE
34                                    Science Teacher
35  Primary School English/Social Science Teacher ...
36  Head of Department - Mathematics and Computer ...
37  Managing Director: Environmental Science (5-ye...
38  Managing Director: Environmental Science (5-ye...
39  Managing Director: Environmental Science (5-ye...
40  Primary School English/Soc Science Teacher (IP...
41  IRDP Full Time Opportunity Medical Science Lia...
42  Actuarial Analyst Bdeg Actuarial Sciences Scie...
43  Life Sciences & Healthcare: Senior Manager - A...
44  Life Sciences & Healthcare: Senior Manager - A...
45  UK Curriculum | Senior Physical Science Teache...
46     UK Curriculum | IGCSE Computer Science Teacher
47             UK Curriculum | Science Senior Teacher
48  UK Curriculum | Physical Science Teacher (Inte...
49                    UK Curriculum | Science Teacher
50  UK Curriculum | IGCSE Computer Science Senior ...
51  Mathematical Sciences Educator - Senior Phase ...
52  UCT Online High School | Physical Sciences Tea...
53       Senior Dashboard Consultant - Data Analytics
54                                          Data Lead
55                         Integrated Data Specialist
56                                     Data Scientist
57               Senior People Master Data Specialist
58                                       Data Analyst
59                                      Data Engineer
60                                     Data Architect
61                                       Data Analyst
62                                    Data Engineer C
63         Master Data Specialist (Contract Position)
64                             Master Data Specialist
65                                        Data Head I
66   Senior Azure Data Engineer - Permanent - Sandton
67               Data Scientist at Letsema Consulting
68  Senior Specialist: Data Engineering and Analytics
69                                          Lead Data
70  Data Analyst/Sales Coordinator - PlatteKloof, ...
71                                     Data Scientist
72                                          Lead Data
73  Intermediate Data Scientist / Quantitative Ana...
74  Data Capturer (1 Year Contract) – DST/NRF Cent...
75               Quantitative Analyst /Data Scientist
76       Senior Dashboard Consultant - Data Analytics
77     Data Insights Analytics Cloud Support Engineer
78                                      Manager, Data
79                                Retail Data Analyst
80                                          Lead Data
81               Quantitative Analyst /Data Scientist
82            Senior Data Analyst - Mining - Contract
83   Intermediate Data Scientist/Quantitative Analyst
84                                       Data Analyst
85                                     Data Architect
86                                     Data Scientist
87                                          Data Lead
88               Quantitative Analyst /Data Scientist
89  Intermediate Data Scientist / Quantitative Ana...
90                                          Data Lead
91  Data Analyst/Sales Coordinator - PlatteKloof, ...
92       Senior Dashboard Consultant - Data Analytics
93                                     Data Scientist
94            Data Engineer and Management Specialist
95  Data and Analytics 2023 Graduate Programme (Jo...
96  Senior Azure Data Engineer – Sandton – up to R...
97            Senior Data Analyst - Mining - Contract
98                                      Analyst: Data

                                          description  \
0    Warehouses, <b>Data</b> Streaming, ETL, <b>Da...
1    AWS <b>Data</b> <b>Science</b> Architect to j...
2      Consultant, <b>Data</b> <b>Science</b> and ...
3   AWS <b>Data</b> <b>Science</b> Architect (Cont...
4   AWS <b>Data</b> <b>Science</b> Architect (Cont...
5   I am representing a reputable insurance giant ...
6    and participate in <b>data</b> <b>science</b>...
7   <b>Data</b> <b>Science</b> Senior Manager - Ga...
8    in the country is on the search for Senior Ma...
9    your primary role will be to lead and partici...
10  Johannesburg - I am representing a reputable i...
11  We are currently recruiting for a BI Developer...
12  Centurion - As a Senior <b>Data</b> Scientist ...
13  Centurion - As a Senior <b>Data</b> Scientist ...
14  JOB PURPOSE  As a Senior <b>Data</b> Scientist...
15   changing landscape. <b>Data</b> <b>science</b...
16  Snr Manager: <b>Data</b> <b>Science</b> Core D...
17  We are looking for a Senior Manager: <b>Data</...
18  I am representing a reputable insurance giant ...
19  We are currently recruiting for a BI Developer...
20  We're looking for…   A <b>Data</b> <b>Science<...
21  Role summary   The <b>Data</b> Scientist will ...
22  , and new products requires a <b>data</b> <b>s...
23   will be your interest in <b>data</b> <b>scien...
24   of Resources  <b>Data</b> wrangling and <b>da...
25   of Resources  <b>Data</b> wrangling and <b>da...
26  .  Cleary defines and drives a logical busines...
27  , advanced <b>data</b> structures.  The proven...
28  Johannesburg - To achieve sales of BSV, Recove...
29  Senior Physical <b>Science</b> Teacher   UK Cu...
30  IGCSE Computer <b>Science</b> Senior Teacher  ...
31  <b>Science</b> Senior Teacher   UK Curriculum ...
32  IGCSE Computer <b>Science</b> Teacher   UK Cur...
33  Physical <b>Science</b> Teacher   UK Curriculu...
34  <b>Science</b> Teacher   UK Curriculum   DESCR...
35   for our scholars.   Responsibilities:   ● Pla...
36  HEAD OF DEPARTMENT - MATHEMATICS AND COMPUTER ...
37   development at all levels of society.  Positi...
38   development at all levels of society.  Positi...
39   development at all levels of society.  Positi...
40  /cheerful, fast-paced/dynamic, engaging/stimul...
41  Job Description:   International Recruitment a...
42     Geographic location CENTURION   Salary Rang...
43   of professionals comprised of actuaries, <b>d...
44   of professionals comprised of actuaries, <b>d...
45  , and familiar with online learning management...
46  .  Strong administrative and record keeping sk...
47  , and familiar with online learning management...
48   environment.  Operationally savvy.  Strong ad...
49  .  Operationally savvy.  Strong administrative...

In [5]:
#Convert SA['jobs'] into a DataFrame
df_Jobs = pd.DataFrame.from_dict(df)

In [6]:
#Display the Dataframe
df_Jobs.head()

,locations,site,date,url,title,description,company,salary,salary_min,salary_type,salary_currency_code,salary_max
0,"Johannesburg, Gauteng",NaN,2022-04-29 07:52:13+00:00,http://jobviewtrack.com/en-za/job-1f1841694c10...,Data Analytics Sales Specialist,"Warehouses, <b>Data</b> Streaming, ETL, <b>Da...",Google,NaN,NaN,NaN,NaN,NaN
1,"Pretoria, Gauteng",NaN,2022-04-24 07:36:21+00:00,http://jobviewtrack.com/en-za/job-4f13416c7a37...,AWS Data Science Architect – Semi Remote – R74...,AWS <b>Data</b> <b>Science</b> Architect to j...,e-Merge IT Recruitment,R619 - 742 per hour,619.0,H,ZAR,742.0
2,"Johannesburg, Gauteng",NaN,2022-04-20 23:49:44+00:00,http://jobviewtrack.com/en-za/job-121341694c10...,"Consultant, Data Science and Analytics","Consultant, <b>Data</b> <b>Science</b> and ...",TransUnion,NaN,NaN,NaN,NaN,NaN
3,"Midrand, Johannesburg",NaN,2022-04-15 06:38:12+00:00,http://jobviewtrack.com/en-za/job-1c1b41694c10...,AWS Data Science Architect (Contract) Midrand/...,AWS <b>Data</b> <b>Science</b> Architect (Cont...,iSanqa Resourcing,NaN,NaN,NaN,NaN,NaN
4,"Midrand, Johannesburg",NaN,2022-04-15 01:04:44+00:00,http://jobviewtrack.com/en-za/job-1c1b41694c10...,AWS Data Science Architect (Contract) Midrand/...,AWS <b>Data</b> <b>Science</b> Architect (Cont...,iSanqa Resourcing,NaN,NaN,NaN,NaN,NaN

In [7]:
#View the shape of df_Jobs
df_Jobs.shape

(99, 12)

In [8]:
#View the info of df_Jobs
df_Jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locations             99 non-null     object
 1   site                  0 non-null      float64
 2   date                  99 non-null     object
 3   url                   99 non-null     object
 4   title                 99 non-null     object
 5   description           99 non-null     object
 6   company               83 non-null     object
 7   salary                13 non-null     object
 8   salary_min            13 non-null     float64
 9   salary_type           13 non-null     object
 10  salary_currency_code  13 non-null     object
 11  salary_max            13 non-null     float64
dtypes: float64(3), object(9)
memory usage: 9.4+ KB

In [9]:
# Check for the sum and percentage of null values in each column
total_nans = df_Jobs.isnull().sum().sort_values(ascending=False)
percent_nans = (df_Jobs.isnull().mean() * 100).sort_values(ascending=False)
df_clean_nans = pd.concat([total_nans, percent_nans], axis=1, keys=['Total NaN', 'Percent NaN'])
df_clean_nans.head()

                      Total NaN  Percent NaN
site                         99   100.000000
salary                       86    86.868687
salary_min                   86    86.868687
salary_type                  86    86.868687
salary_currency_code         86    86.868687

In [10]:
#Make a copy of the DataFrame
df_new = df_Jobs.copy()

In [11]:
#Delete column that won't be useful
del df_new['site']
del df_new['url']
del df_new['salary_min']
del df_new['salary_type']
del df_new['salary_currency_code']
del df_new['salary_max']

In [12]:
#Read all text in a column
pd.set_option("display.max_colwidth", -1)

In [13]:
#display the text in df_Jobs['description']
df_new['description'][2]

'   Consultant, <b>Data</b> <b>Science</b> and Analytics... research techniques and software and presents findings to peers within TransUnion. Manages the integration of <b>data</b> analysis...'

In [14]:
df_new.head()

,locations,date,title,description,company,salary
0,"Johannesburg, Gauteng",2022-04-29 07:52:13+00:00,Data Analytics Sales Specialist,"Warehouses, <b>Data</b> Streaming, ETL, <b>Data</b> governance, Business Intelligence, Predictive Analytics, OLAP, <b>Data</b> <b>science</b> framework... experience. Experience in selling <b>data</b> analytics software or solutions. Experience with the global analytics market...",Google,NaN
1,"Pretoria, Gauteng",2022-04-24 07:36:21+00:00,AWS Data Science Architect – Semi Remote – R742 Per hour,"AWS <b>Data</b> <b>Science</b> Architect to join their dynamic team. In this role you will be responsible for Migration of services... with: General AWS experience in the <b>Data</b> <b>Science</b> / Big <b>Data</b> context. Docker, & Kubernetes Experience, Expert JAVA developer...",e-Merge IT Recruitment,R619 - 742 per hour
2,"Johannesburg, Gauteng",2022-04-20 23:49:44+00:00,"Consultant, Data Science and Analytics","Consultant, <b>Data</b> <b>Science</b> and Analytics... research techniques and software and presents findings to peers within TransUnion. Manages the integration of <b>data</b> analysis...",TransUnion,NaN
3,"Midrand, Johannesburg",2022-04-15 06:38:12+00:00,AWS Data Science Architect (Contract) Midrand/Menlyn/Rosslyn/Home Office rotation - ISB2102000,AWS <b>Data</b> <b>Science</b> Architect (Contract) Midrand/Menlyn/Rosslyn/Home Office rotation - ISB2102000 About the job AWS <b>Data</b>... COMMENCEMENT: As soon as possible ESSENTIAL REQUIREMENTS: General AWS experience in the <b>Data</b> <b>Science</b> / Big <b>Data</b> context...,iSanqa Resourcing,NaN
4,"Midrand, Johannesburg",2022-04-15 01:04:44+00:00,AWS Data Science Architect (Contract) Midrand/Menlyn/Rosslyn/Home Office rotation - ISB2102004,AWS <b>Data</b> <b>Science</b> Architect (Contract) Midrand/Menlyn/Rosslyn/Home Office rotation - ISB2102004 About the job AWS <b>Data</b>... <b>Science</b> Architect (Contract) Midrand/Menlyn/Rosslyn/Home Office rotation - ISB2102004 Our client requires the services...,iSanqa Resourcing,NaN

In [15]:
df_new['description'].head()

0     Warehouses, <b>Data</b> Streaming, ETL, <b>Data</b> governance, Business Intelligence, Predictive Analytics, OLAP, <b>Data</b> <b>science</b> framework... experience.  Experience in selling <b>data</b> analytics software or solutions.  Experience with the global analytics market...
1     AWS <b>Data</b> <b>Science</b> Architect to join their dynamic team.   In this role you will be responsible for Migration of services... with:  General AWS experience in the <b>Data</b> <b>Science</b> / Big <b>Data</b> context.  Docker, & Kubernetes Experience,  Expert JAVA developer...
2       Consultant, <b>Data</b> <b>Science</b> and Analytics... research techniques and software and presents findings to peers within TransUnion. Manages the integration of <b>data</b> analysis...
3    AWS <b>Data</b> <b>Science</b> Architect (Contract) Midrand/Menlyn/Rosslyn/Home Office rotation - ISB2102000   About the job AWS <b>Data</b>...   COMMENCEMENT: As soon as possible   ESSENTIAL REQUIREMENTS:   General AWS experience in the <b>Data</b> <b>Science</b> / Big <b>Data</b> context...
4    AWS <b>Data</b> <b>Science</b> Architect (Contract) Midrand/Menlyn/Rosslyn/Home Office rotation - ISB2102004   About the job AWS <b>Data</b>... <b>Science</b> Architect (Contract) Midrand/Menlyn/Rosslyn/Home Office rotation - ISB2102004   Our client requires the services...
Name: description, dtype: object

#Data Cleaning

In [16]:
#Define char and print punctuation
char = ['<b>','</b>']
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [17]:
from textblob import Word
from nltk.corpus import stopwords
import unicodedata

#Remove char from df_jobs['description']
df_new['description'] = df_new['description'].replace(to_replace = char, value="" , regex = True)

#Function to remove punctuation
def remove_punctuation(txt):
    return ''.join([l for l in txt if l not in string.punctuation])
df_new['description'] = df_new['description'].apply(remove_punctuation)

#Convert to lowercase
df_new['description'] = df_new['description'].str.lower()

#remove stop words
nltk.download('stopwords')
#Download wordnet
nltk.download('wordnet')
ADDITIONAL_STOPWORDS = ['covfefe']
stopwords = nltk.corpus.stopwords.words('english') + ADDITIONAL_STOPWORDS
df_new['description'] = df_new['description'].apply(lambda x: " ".join(x for x in x.split() if x not in stopwords))

## lemmatization
df_new['description'] = df_new['description'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

# Remove extra whitespace
#df_jobs['description'] = re.sub(r'\s\s+', ' ', str(df_jobs['description'])) ##this line of code is an issue
#(It is the one that leads to the repetition of row 1)

df_new.head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

,locations,date,title,description,company,salary
0,"Johannesburg, Gauteng",2022-04-29 07:52:13+00:00,Data Analytics Sales Specialist,warehouse data streaming etl data governance business intelligence predictive analytics olap data science framework experience experience selling data analytics software solution experience global analytics market,Google,NaN
1,"Pretoria, Gauteng",2022-04-24 07:36:21+00:00,AWS Data Science Architect – Semi Remote – R742 Per hour,aws data science architect join dynamic team role responsible migration service general aws experience data science big data context docker kubernetes experience expert java developer,e-Merge IT Recruitment,R619 - 742 per hour
2,"Johannesburg, Gauteng",2022-04-20 23:49:44+00:00,"Consultant, Data Science and Analytics",consultant data science analytics research technique software present finding peer within transunion manages integration data analysis,TransUnion,NaN
3,"Midrand, Johannesburg",2022-04-15 06:38:12+00:00,AWS Data Science Architect (Contract) Midrand/Menlyn/Rosslyn/Home Office rotation - ISB2102000,aws data science architect contract midrandmenlynrosslynhome office rotation isb2102000 job aws data commencement soon possible essential requirement general aws experience data science big data context,iSanqa Resourcing,NaN
4,"Midrand, Johannesburg",2022-04-15 01:04:44+00:00,AWS Data Science Architect (Contract) Midrand/Menlyn/Rosslyn/Home Office rotation - ISB2102004,aws data science architect contract midrandmenlynrosslynhome office rotation isb2102004 job aws data science architect contract midrandmenlynrosslynhome office rotation isb2102004 client requires service,iSanqa Resourcing,NaN

Noticed that the ngrams don't include integers hence the conversion of 'int' into 'str'

In [18]:
#Convert int into str
#df_new['description'] = df_new['description'].astype(str)

In [19]:
#df_new.dtypes

In [20]:
df_new['description'][0]

'warehouse data streaming etl data governance business intelligence predictive analytics olap data science framework experience experience selling data analytics software solution experience global analytics market'

In [21]:
df_new.head()

,locations,date,title,description,company,salary
0,"Johannesburg, Gauteng",2022-04-29 07:52:13+00:00,Data Analytics Sales Specialist,warehouse data streaming etl data governance business intelligence predictive analytics olap data science framework experience experience selling data analytics software solution experience global analytics market,Google,NaN
1,"Pretoria, Gauteng",2022-04-24 07:36:21+00:00,AWS Data Science Architect – Semi Remote – R742 Per hour,aws data science architect join dynamic team role responsible migration service general aws experience data science big data context docker kubernetes experience expert java developer,e-Merge IT Recruitment,R619 - 742 per hour
2,"Johannesburg, Gauteng",2022-04-20 23:49:44+00:00,"Consultant, Data Science and Analytics",consultant data science analytics research technique software present finding peer within transunion manages integration data analysis,TransUnion,NaN
3,"Midrand, Johannesburg",2022-04-15 06:38:12+00:00,AWS Data Science Architect (Contract) Midrand/Menlyn/Rosslyn/Home Office rotation - ISB2102000,aws data science architect contract midrandmenlynrosslynhome office rotation isb2102000 job aws data commencement soon possible essential requirement general aws experience data science big data context,iSanqa Resourcing,NaN
4,"Midrand, Johannesburg",2022-04-15 01:04:44+00:00,AWS Data Science Architect (Contract) Midrand/Menlyn/Rosslyn/Home Office rotation - ISB2102004,aws data science architect contract midrandmenlynrosslynhome office rotation isb2102004 job aws data science architect contract midrandmenlynrosslynhome office rotation isb2102004 client requires service,iSanqa Resourcing,NaN

In [22]:
#Create new columns in df_new

#Experience column
df_new['experience'] = np.nan

#Skills column
df_new['skills'] = np.nan

#Qualification column
df_new['qualification'] = np.nan

In [23]:
#Create columns for ngrams
from nltk.util import ngrams

n = 1
df_new['one_grams'] = df_new['description'].str.split().apply(lambda x: list(map(' '.join, ngrams(x, n=n))))
(df_new.assign(count=df_new['one_grams'].str.len())
   .explode('one_grams')
   #.query('count > 0')
)

n = 2
df_new['two_grams'] = df_new['description'].str.split().apply(lambda x: list(map(' '.join, ngrams(x, n=n))))
(df_new.assign(count=df_new['two_grams'].str.len())
   .explode('two_grams')
   .query('count > 0')
)

n = 3
df_new['three_grams'] = df_new['description'].str.split().apply(lambda x: list(map(' '.join, ngrams(x, n=n))))
(df_new.assign(count=df_new['three_grams'].str.len())
   .explode('three_grams')
   .query('count > 0')
)

df_new.head()

,locations,date,title,description,company,salary,experience,skills,qualification,one_grams,two_grams,three_grams
0,"Johannesburg, Gauteng",2022-04-29 07:52:13+00:00,Data Analytics Sales Specialist,warehouse data streaming etl data governance business intelligence predictive analytics olap data science framework experience experience selling data analytics software solution experience global analytics market,Google,NaN,NaN,NaN,NaN,"[warehouse, data, streaming, etl, data, governance, business, intelligence, predictive, analytics, olap, data, science, framework, experience, experience, selling, data, analytics, software, solution, experience, global, analytics, market]","[warehouse data, data streaming, streaming etl, etl data, data governance, governance business, business intelligence, intelligence predictive, predictive analytics, analytics olap, olap data, data science, science framework, framework experience, experience experience, experience selling, selling data, data analytics, analytics software, software solution, solution experience, experience global, global analytics, analytics market]","[warehouse data streaming, data streaming etl, streaming etl data, etl data governance, data governance business, governance business intelligence, business intelligence predictive, intelligence predictive analytics, predictive analytics olap, analytics olap data, olap data science, data science framework, science framework experience, framework experience experience, experience experience selling, experience selling data, selling data analytics, data analytics software, analytics software solution, software solution experience, solution experience global, experience global analytics, global analytics market]"
1,"Pretoria, Gauteng",2022-04-24 07:36:21+00:00,AWS Data Science Architect – Semi Remote – R742 Per hour,aws data science architect join dynamic team role responsible migration service general aws experience data science big data context docker kubernetes experience expert java developer,e-Merge IT Recruitment,R619 - 742 per hour,NaN,NaN,NaN,"[aws, data, science, architect, join, dynamic, team, role, responsible, migration, service, general, aws, experience, data, science, big, data, context, docker, kubernetes, experience, expert, java, developer]","[aws data, data science, science architect, architect join, join dynamic, dynamic team, team role, role responsible, responsible migration, migration service, service general, general aws, aws experience, experience data, data science, science big, big data, data context, context docker, docker kubernetes, kubernetes experience, experience expert, expert java, java developer]","[aws data science, data science architect, science architect join, architect join dynamic, join dynamic team, dynamic team role, team role responsible, role responsible migration, responsible migration service, migration service general, service general aws, general aws experience, aws experience data, experience data science, data science big, science big data, big data context, data context docker, context docker kubernetes, docker kubernetes experience, kubernetes experience expert, experience expert java, expert java developer]"
2,"Johannesburg, Gauteng",2022-04-20 23:49:44+00:00,"Consultant, Data Science and Analytics",consultant data science analytics research technique software present finding peer within transunion manages integration data analysis,TransUnion,NaN,NaN,NaN,NaN,"[consultant, data, science, analytics, research, technique, software, present, finding, peer, within, transunion, manages, integration, data, analysis]","[consultant data, data science, science analytics, analytics research, research technique, technique software, software present, present finding, finding peer, peer within, within transunion, transunion manages, manages integration, integration data, data analysis]","[consultant data science, data science analytics, science analytics research, analytics research technique, research technique software, technique software present, software present finding, present finding peer, finding peer within, peer within transunion, within transunion manages, transunion manages integration, manages integration data, integration data analysis]"
3,"Midrand, Johannesburg",2022-04-15 06:38:12+00:00,AWS Data Science Architect (Contract) Midrand/Menlyn/Rosslyn/Home Office rotation - ISB2102000,aws data science architect contract midrandmenlynrosslynhome office rotation isb2102000 job aws data commencement soon possible essential requirement general aws experience data science big data context,iSanqa Resourcing,NaN,NaN,NaN,NaN,"[aws, data, science, architect, contract, midrandmenlynrosslynhome, office, rotation, isb2102000, job, aws, data, commencement, soon, possible, essential, requirement, general, aws, experience, data, science, big, data, context]","[aws data, data science, science architect, architect contract, contract midrandmenlynrosslynhome, midrandmenlynrosslynhome office, office rotation, rotation isb2102000, isb2102000 job, job aws, aws data, data commencement, commencement soon, soon possible, possible essential, essential requirement, requirement general, general aws, aws experience, experience data, data science, science big, big data, data context]","[aws data science, data science architect, science architect contract, architect contract midrandmenlynrosslynhome, contract midrandmenlynrosslynhome office, midrandmenlynrosslynhome office rotation, office rotation isb2102000, rotation isb2102000 job, isb2102000 job aws, job aws data, aws data commencement, data commencement soon, commencement soon possible, soon possible essential, possible essential requirement, essential requirement general, requirement general aws, general aws experience, aws experience data, experience data science, data science big, science big data, big data context]"
4,"Midrand, Johannesburg",2022-04-15 01:04:44+00:00,AWS Data Science Architect (Contract) Midrand/Menlyn/Rosslyn/Home Office rotation - ISB2102004,aws data science architect contract midrandmenlynrosslynhome office rotation isb2102004 job aws data science architect contract midrandmenlynrosslynhome office rotation isb2102004 client requires service,iSanqa Resourcing,NaN,NaN,NaN,NaN,"[aws, data, science, architect, contract, midrandmenlynrosslynhome, office, rotation, isb2102004, job, aws, data, science, architect, contract, midrandmenlynrosslynhome, office, rotation, isb2102004, client, requires, service]","[aws data, data science, science architect, architect contract, contract midrandmenlynrosslynhome, midrandmenlynrosslynhome office, office rotation, rotation isb2102004, isb2102004 job, job aws, aws data, data science, science architect, architect contract, contract midrandmenlynrosslynhome, midrandmenlynrosslynhome office, office rotation, rotation isb2102004, isb2102004 client, client requires, requires service]","[aws data science, data science architect, science architect contract, architect contract midrandmenlynrosslynhome, contract midrandmenlynrosslynhome office, midrandmenlynrosslynhome office rotation, office rotation isb2102004, rotation isb2102004 job, isb2102004 job aws, job aws data, aws data science, data science architect, science architect contract, architect contract midrandmenlynrosslynhome, contract midrandmenlynrosslynhome office, midrandmenlynrosslynhome office rotation, office rotation isb2102004, rotation isb2102004 client, isb2102004 client requires, client requires service]"

In [24]:
#df_new =pd.Dataframe({'keys':['python','sql','aws','analyst','powerbi','statistics','pyspark','github','developer','programming','database','scrum','coding','visualization','docker']})

#df_new['2gramsxx'] = df_new['one_grams'].apply(lambda x: skil_dict.get(x))
#df_new['2gramsxx'] = df_new['one_grams'].map(skil_dict)

#df_new['match1'] = [dict_2 for _ in range(len(df_new))]
#df_new['col5'] = [dict_2]*len(df_new)

df_new.head(1)

#df = pd.DataFrame({'Title':['small test','huge Test', 'big','nothing', np.nan, 'a', 'b']})

,locations,date,title,description,company,salary,experience,skills,qualification,one_grams,two_grams,three_grams
0,"Johannesburg, Gauteng",2022-04-29 07:52:13+00:00,Data Analytics Sales Specialist,warehouse data streaming etl data governance business intelligence predictive analytics olap data science framework experience experience selling data analytics software solution experience global analytics market,Google,NaN,NaN,NaN,NaN,"[warehouse, data, streaming, etl, data, governance, business, intelligence, predictive, analytics, olap, data, science, framework, experience, experience, selling, data, analytics, software, solution, experience, global, analytics, market]","[warehouse data, data streaming, streaming etl, etl data, data governance, governance business, business intelligence, intelligence predictive, predictive analytics, analytics olap, olap data, data science, science framework, framework experience, experience experience, experience selling, selling data, data analytics, analytics software, software solution, solution experience, experience global, global analytics, analytics market]","[warehouse data streaming, data streaming etl, streaming etl data, etl data governance, data governance business, governance business intelligence, business intelligence predictive, intelligence predictive analytics, predictive analytics olap, analytics olap data, olap data science, data science framework, science framework experience, framework experience experience, experience experience selling, experience selling data, selling data analytics, data analytics software, analytics software solution, software solution experience, solution experience global, experience global analytics, global analytics market]"

In [39]:
words  = ['python','sql','java','aws','analyst','architect','powerbi','statistics','pyspark','github','excel','developer','programming','database','scrum','coding','visualization','docker','software','kubernetes']
words2 = ['machine learning','data analyst','data analytics','model development','power bi','cloud computing','data science','ms azure','business intelligence','statistical modelling','predictive analytics','microsoft excel','big data']

In [47]:

df_new['match_words'] = df_new['one_grams'].apply(lambda terms: [word for word in words 
                                                                if any(word.startswith(term) for term in terms)])
df_new['match_words2'] = df_new['two_grams'].apply(lambda terms: [word for word in words2 
                                                                if any(word.startswith(term) for term in terms)])
df_new['techincal skills'] =df_new['match_words']+df_new['match_words2']
                                                             
df_new.head()

,locations,date,title,description,company,salary,experience,skills,qualification,one_grams,two_grams,three_grams,Test_Flag,match_words,match_words2,techincal skills
0,"Johannesburg, Gauteng",2022-04-29 07:52:13+00:00,Data Analytics Sales Specialist,warehouse data streaming etl data governance business intelligence predictive analytics olap data science framework experience experience selling data analytics software solution experience global analytics market,Google,NaN,NaN,NaN,NaN,"[warehouse, data, streaming, etl, data, governance, business, intelligence, predictive, analytics, olap, data, science, framework, experience, experience, selling, data, analytics, software, solution, experience, global, analytics, market]","[warehouse data, data streaming, streaming etl, etl data, data governance, governance business, business intelligence, intelligence predictive, predictive analytics, analytics olap, olap data, data science, science framework, framework experience, experience experience, experience selling, selling data, data analytics, analytics software, software solution, solution experience, experience global, global analytics, analytics market]","[warehouse data streaming, data streaming etl, streaming etl data, etl data governance, data governance business, governance business intelligence, business intelligence predictive, intelligence predictive analytics, predictive analytics olap, analytics olap data, olap data science, data science framework, science framework experience, framework experience experience, experience experience selling, experience selling data, selling data analytics, data analytics software, analytics software solution, software solution experience, solution experience global, experience global analytics, global analytics market]",NaN,"[database, software]","[data analytics, data science, business intelligence, predictive analytics]","[database, software, data analytics, data science, business intelligence, predictive analytics]"
1,"Pretoria, Gauteng",2022-04-24 07:36:21+00:00,AWS Data Science Architect – Semi Remote – R742 Per hour,aws data science architect join dynamic team role responsible migration service general aws experience data science big data context docker kubernetes experience expert java developer,e-Merge IT Recruitment,R619 - 742 per hour,NaN,NaN,NaN,"[aws, data, science, architect, join, dynamic, team, role, responsible, migration, service, general, aws, experience, data, science, big, data, context, docker, kubernetes, experience, expert, java, developer]","[aws data, data science, science architect, architect join, join dynamic, dynamic team, team role, role responsible, responsible migration, migration service, service general, general aws, aws experience, experience data, data science, science big, big data, data context, context docker, docker kubernetes, kubernetes experience, experience expert, expert java, java developer]","[aws data science, data science architect, science architect join, architect join dynamic, join dynamic team, dynamic team role, team role responsible, role responsible migration, responsible migration service, migration service general, service general aws, general aws experience, aws experience data, experience data science, data science big, science big data, big data context, data context docker, context docker kubernetes, docker kubernetes experience, kubernetes experience expert, experience expert java, expert java developer]","[aws, developer, docker]","[java, aws, architect, developer, database, docker, kubernetes]","[data science, big data]","[java, aws, architect, developer, database, docker, kubernetes, data science, big data]"
2,"Johannesburg, Gauteng",2022-04-20 23:49:44+00:00,"Consultant, Data Science and Analytics",consultant data science analytics research technique software present finding peer within transunion manages integration data analysis,TransUnion,NaN,NaN,NaN,NaN,"[consultant, data, science, analytics, research, technique, software, present, finding, peer, within, transunion, manages, integration, data, analysis]","[consultant data, data science, science analytics, analytics research, research technique, technique software, software present, present finding, finding peer, peer within, within transunion, transunion manages, manages integration, integration data, data analysis]","[consultant data science, data science analytics, science analytics research, analytics research technique, research technique software, technique software present, software present finding, present finding peer, finding peer within, peer within transunion, within transunion manages, transunion manages integration, manages integration data, integration data analysis]",NaN,"[database, software]",[data science],"[database, software, data science]"
3,"Midrand, Johannesburg",2022-04-15 06:38:12+00:00,AWS Data Science Architect (Contract) Midrand/Menlyn/Rosslyn/Home Office rotation - ISB2102000,aws data science architect contract midrandmenlynrosslynhome office rotation isb2102000 job aws data commencement soon possible essential requirement general aws experience data science big data context,iSanqa Resourcing,NaN,NaN,NaN,NaN,"[aws, data, science, architect, contract, midrandmenlynrosslynhome, office, rotation, isb2102000, job, aws, data, commencement, soon, possible, essential, requirement, general, aws, experience, data, science, big, data, context]","[aws data, data science, science architect, architect contract, contract midrandmenlynrosslynhome, midrandmenlynrosslynhome office, office rotation, rotation isb2102000, isb2102000 job, job aws, aws data, data commencement, commencement soon, soon possible, possible essential, essential requirement, requirement general, general aws, aws experience, experience data, data science, science big, big data, data context]","[aws data science, data science architect, science architect contract, architect contract midrandmenlynrosslynhome, contract midrandmenlynrosslynhome office, midrandmenlynrosslynhome office rotation, office rotation isb2102000, rotation isb2102000 job, isb2102000 job aws, job aws data, aws data commencement, data commencement soon, commencement soon possible, soon possible essential, possible essential requirement, essential requirement general, requirement general aws, general aws experience, aws experience data, experience data science, data science big, science big data, big data context]",[aws],"[aws, architect, database]","[data science, big data]","[aws, architect, database, data science, big data]"
4,"Midrand, Johannesburg",2022-04-15 01:04:44+00:00,AWS Data Science Architect (Contract) Midrand/Menlyn/Rosslyn/Home Office rotation - ISB2102004,aws data science architect contract midrandmenlynrosslynhome office rotation isb2102004 job aws data science architect contract midrandmenlynrosslynhome office rotation isb2102004 client requires service,iSanqa Resourcing,NaN,NaN,NaN,NaN,"[aws, data, science, architect, contract, midrandmenlynrosslynhome, office, rotation, isb2102004, job, aws, data, science, architect, contract, midrandmenlynrosslynhome, office, rotation, isb2102004, client, requires, service]","[aws data, data science, science architect, architect contract, contract midrandmenlynrosslynhome, midrandmenlynrosslynhome office, office rotation, rotation isb2102004, isb2102004 job, job aws, aws data, data science, science architect, architect contract, contract midrandmenlynrosslynhome, midrandmenlynrosslynhome office, office rotation, rotation isb2102004, isb2102004 client, client requires, requires service]","[aws data science, data science architect, science architect contract, architect contract midrandmenlynrosslynhome, contract midrandmenlynrosslynhome office, midrandmenlynrosslynhome office rotation, office rotation isb2102004, rotation isb2102004 job, isb2102004 job aws, job aws data, aws data science, data science architect, science architect contract, architect contract midrandmenlynrosslynhome, contract midrandmenlynrosslynhome office, midrandmenlynrosslynhome office rotation, office rotation isb2102004, rotation isb2102004 client, isb2102004 client requires, client requires service]",[aws],"[aws, architect, database]",[data science],"[aws, architect, database, data science]"

In [26]:
#Create a list of years of experience up to 5 years
#years_of_experience = ['1 year experience', '1 2 years experience', '1 3 years', '2 years', '2 3 years', '3 years', '3 4 years','4 years', '4 5 years','5 years', '3 5 years']

#df_new['three_grams'].isin(years_of_experience)

In [27]:
df_new.head(1)

,locations,date,title,description,company,salary,experience,skills,qualification,one_grams,two_grams,three_grams,Test_Flag
0,"Johannesburg, Gauteng",2022-04-29 07:52:13+00:00,Data Analytics Sales Specialist,warehouse data streaming etl data governance business intelligence predictive analytics olap data science framework experience experience selling data analytics software solution experience global analytics market,Google,NaN,NaN,NaN,NaN,"[warehouse, data, streaming, etl, data, governance, business, intelligence, predictive, analytics, olap, data, science, framework, experience, experience, selling, data, analytics, software, solution, experience, global, analytics, market]","[warehouse data, data streaming, streaming etl, etl data, data governance, governance business, business intelligence, intelligence predictive, predictive analytics, analytics olap, olap data, data science, science framework, framework experience, experience experience, experience selling, selling data, data analytics, analytics software, software solution, solution experience, experience global, global analytics, analytics market]","[warehouse data streaming, data streaming etl, streaming etl data, etl data governance, data governance business, governance business intelligence, business intelligence predictive, intelligence predictive analytics, predictive analytics olap, analytics olap data, olap data science, data science framework, science framework experience, framework experience experience, experience experience selling, experience selling data, selling data analytics, data analytics software, analytics software solution, software solution experience, solution experience global, experience global analytics, global analytics market]",NaN

In [28]:
# Define the function which takes a string and a list of words to extract as inputs
def listing_splitter(text, years_of_experience):
    # Try except to handle np.nans in input
    try:
        # Extract the list of flags
        flags = [l for l in years_of_experience if l in text.lower()]
        # If any flags were extracted then return the list
        if flags:
            return flags
        # Otherwise return np.nan
        else:
            return np.nan
    except AttributeError:
        return np.nan

# Apply the function to the column
df_new['Test_Flag'] = df_new['description'].apply(lambda x: listing_splitter(x, years_of_experience))
df_new.head(1)

NameError: ignored

In [ ]:
#Create a list of years of experience up to 5 years
years_of_experience = ['1 year', '1 2 years', '1 3 years', '2 years', '2 3 years', '3 years', '3 4 years','4 years', '4 5 years','5 years', '3 5 years']

def find_experience(description):
  """
  Function that searches for years of experience from the n grams created and 
  matches them with the list of experience created. 
  """

  a = [x for x in two_grams if x in years_of_experience]
  #b = [x for x in three_grams if x in years_of_experience]
  #a.append(b)
  return a#.append(b)

def add_experience(df_new):
  """
  A function that creates a new column called 'experience' then inserts the 
  experience required in years in the it.
  """
  df_new['experience'] = ''
  df_new['experience'] = df_new['description'].map(find_experience)
  return df_new['experience']

df_new['experience'].head()