In [79]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import ast 
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
# from nltk.stem.snowball import SnowballStemmer
# from nltk.stem.wordnet import WordNetLemmatizer
# from nltk.corpus import wordnet
# from surprise import Reader, Dataset, SVD, evaluate
from gensim.models import Doc2Vec
import gensim.models.doc2vec
from collections import OrderedDict
import multiprocessing

from uszipcode import SearchEngine
from  geopy.distance import distance




import warnings; warnings.simplefilter('ignore')

In [80]:
assert gensim.models.doc2vec.FAST_VERSION > -1, "This will be painfully slow otherwise"

In [81]:

!dir .\Data\*.tsv

 Volume in drive D is DATA
 Volume Serial Number is 541D-B1F5

 Directory of D:\Github\Jobs_Recommender\Data

08/01/2012  07:36 PM        75,029,533 apps.tsv
08/09/2012  01:32 PM     3,403,585,644 jobs.tsv
08/09/2012  01:34 PM       893,351,890 jobs1.tsv
08/09/2012  01:36 PM       484,177,559 jobs2.tsv
08/09/2012  01:37 PM       434,304,750 jobs3.tsv
08/09/2012  01:39 PM       434,975,972 jobs4.tsv
08/09/2012  01:40 PM       438,540,834 jobs5.tsv
08/09/2012  01:41 PM       358,506,865 jobs6.tsv
08/09/2012  01:43 PM       359,728,308 jobs7.tsv
06/29/2019  11:39 PM           234,429 test_users.tsv
06/29/2019  11:39 PM        35,261,359 users.tsv
06/29/2019  11:39 PM        72,423,459 user_history.tsv
06/29/2019  11:39 PM               493 window_dates.tsv
              13 File(s)  6,990,121,095 bytes
               0 Dir(s)  204,962,562,048 bytes free

In [82]:
folder = 'Data'

apps = pd.read_csv('./'+folder+'/apps.tsv', delimiter='\t',encoding='utf-8')
user_history = pd.read_csv('./'+folder+'/user_history.tsv', delimiter='\t',encoding='utf-8')
jobs = pd.read_csv('./'+folder+'/jobs.tsv', delimiter='\t',encoding='utf-8', error_bad_lines=False)
users = pd.read_csv('./'+folder+'/users.tsv' ,delimiter='\t',encoding='utf-8')
test_users = pd.read_csv('./'+folder+'/test_users.tsv', delimiter='\t',encoding='utf-8')

b'Skipping line 122433: expected 11 fields, saw 12\n'
b'Skipping line 602576: expected 11 fields, saw 12\n'
b'Skipping line 990950: expected 11 fields, saw 12\n'

### EDA

In [83]:
apps.head()

   UserID  WindowID  Split          ApplicationDate   JobID
0      47         1  Train  2012-04-04 15:56:23.537  169528
1      47         1  Train  2012-04-06 01:03:00.003  284009
2      47         1  Train  2012-04-05 02:40:27.753    2121
3      47         1  Train  2012-04-05 02:37:02.673  848187
4      47         1  Train  2012-04-05 22:44:06.653  733748

In [84]:
user_history.head()

,UserID,WindowID,Split,Sequence,JobTitle
0,47,1,Train,1,National Space Communication Programs-Special ...
1,47,1,Train,2,Detention Officer
2,47,1,Train,3,"Passenger Screener, TSA"
3,72,1,Train,1,"Lecturer, Department of Anthropology"
4,72,1,Train,2,Student Assistant

In [85]:
jobs.head()

,JobID,WindowID,Title,Description,Requirements,City,State,Country,Zip5,StartDate,EndDate
0,1,1,Security Engineer/Technical Lead,<p>Security Clearance Required:&nbsp; Top Secr...,<p>SKILL SET</p>\r<p>&nbsp;</p>\r<p>Network Se...,Washington,DC,US,20531,2012-03-07 13:17:01.643,2012-04-06 23:59:59
1,4,1,SAP Business Analyst / WM,<strong>NO Corp. to Corp resumes&nbsp;are bein...,<p><b>WHAT YOU NEED: </b></p>\r<p>Four year co...,Charlotte,NC,US,28217,2012-03-21 02:03:44.137,2012-04-20 23:59:59
2,7,1,P/T HUMAN RESOURCES ASSISTANT,<b> <b> P/T HUMAN RESOURCES ASSISTANT</b> <...,Please refer to the Job Description to view th...,Winter Park,FL,US,32792,2012-03-02 16:36:55.447,2012-04-01 23:59:59
3,8,1,Route Delivery Drivers,CITY BEVERAGES Come to work for the best in th...,Please refer to the Job Description to view th...,Orlando,FL,US,NaN,2012-03-03 09:01:10.077,2012-04-02 23:59:59
4,9,1,Housekeeping,I make sure every part of their day is magica...,Please refer to the Job Description to view th...,Orlando,FL,US,NaN,2012-03-03 09:01:11.88,2012-04-02 23:59:59

In [86]:
users.head()

,UserID,WindowID,Split,City,State,Country,ZipCode,DegreeType,Major,GraduationDate,WorkHistoryCount,TotalYearsExperience,CurrentlyEmployed,ManagedOthers,ManagedHowMany
0,47,1,Train,Paramount,CA,US,90723,High School,NaN,1999-06-01 00:00:00,3,10.0,Yes,No,0
1,72,1,Train,La Mesa,CA,US,91941,Master's,Anthropology,2011-01-01 00:00:00,10,8.0,Yes,No,0
2,80,1,Train,Williamstown,NJ,US,08094,High School,Not Applicable,1985-06-01 00:00:00,5,11.0,Yes,Yes,5
3,98,1,Train,Astoria,NY,US,11105,Master's,Journalism,2007-05-01 00:00:00,3,3.0,Yes,No,0
4,123,1,Train,Baton Rouge,LA,US,70808,Bachelor's,Agricultural Business,2011-05-01 00:00:00,1,9.0,Yes,No,0

In [87]:
test_users.head()

   UserID  WindowID
0     767         1
1     769         1
2     861         1
3    1006         1
4    1192         1

#### Subsetting jobs in NY

In [88]:
jobs = jobs.loc[jobs.State == 'NY']
jobs.to_csv("NYjobs.tsv",  sep='\t',encoding='utf-8')

In [89]:
import gc
gc.collect()

98

In [90]:

jobs.groupby(['Zip5', 'City']).size().reset_index(name='Count').sort_values('Count', ascending=False).head()

       Zip5      City  Count
3     10001  New York   1908
1157  10001  New York   1382
29    10017  New York    588
27    10016  New York    453
1184  10017  New York    436

### Preprocessing

### Preprocessing Description and Requirements

In [106]:
import re

def preprocessor(text):
    text = text.replace('\\r', '').replace('&nbsp', '').replace('\n', '')
    text = re.sub('<[^>]*>', '', text)
    emoticons = re.findall('(?::|;|=)(?:-)?(?:\)|\(|D|P)', text)
    text = re.sub('[\W]+', ' ', text.lower()) +\
        ' '.join(emoticons).replace('-', '')
    return text

In [107]:

jobs['Description'] = jobs['Description'].astype(dtype='str').apply(preprocessor)

In [108]:
jobs['Requirements'] = jobs['Requirements'].astype(dtype='str').apply(preprocessor)

### Creating jobs coordinates

In [97]:
search = SearchEngine(simple_zipcode=True)

In [96]:
jobs.Zip5 = jobs.Zip5.fillna(0)
jobs.Zip5 = jobs.Zip5.astype(int)

In [56]:
#lat, "long"
"""coords_1 = c
coords_2 = (34.1, -118.42)

print (round(distance(coords_1, coords_2).miles, 2))"""
search.by_zipcode("2e").lat

In [104]:

def coordinates(zipcode):
    zipcode = search.by_zipcode(zipcode)
    community = zipcode.post_office_city
    return community, "{},{}".format(zipcode.lat, zipcode.lng)

In [105]:
%%timeit
jobs["Community"] = ""
jobs["Coordinates"] = ""
for zipcode in jobs.Zip5.unique():
    community, coordinate = coordinates(zipcode)
    jobs.loc[jobs.Zip5 == zipcode, "Coordinates"] =  str(coordinate)
    jobs.loc[jobs.Zip5 == zipcode, "Community"] =  community

8.32 s ± 152 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [123]:
jobs.groupby(['Community']).size().reset_index(name='Count').sort_values('Count', ascending=False).head(20)

                Community  Count
400          New York, NY  10627
491         Rochester, NY   1569
75            Buffalo, NY   1256
73           Brooklyn, NY   1030
70              Bronx, NY    834
361          Melville, NY    730
2              Albany, NY    551
632      White Plains, NY    487
564          Syracuse, NY    459
249         Hauppauge, NY    395
54         Binghamton, NY    263
210       Garden City, NY    255
337  Long Island City, NY    222
472      Poughkeepsie, NY    220
394     New Hyde Park, NY    212
615     West Harrison, NY    199
649           Yonkers, NY    198
176            Elmira, NY    187
185       Farmingdale, NY    177
290            Ithaca, NY    164

In [125]:
jobs.groupby(['Community', 'Zip5', 'Coordinates']).size().reset_index(name='Count').sort_values('Count', ascending=False).head(20)

                Community   Zip5     Coordinates  Count
537          New York, NY  10001    40.75,-73.99   3302
551          New York, NY  10017   40.75,-73.973   1038
550          New York, NY  10016    40.74,-73.97    806
492          Melville, NY  11747     40.79,-73.4    730
570          New York, NY  10036    40.76,-73.99    638
552          New York, NY  10018    40.76,-73.99    537
556          New York, NY  10022    40.76,-73.97    486
541          New York, NY  10005  40.705,-74.005    416
369         Hauppauge, NY  11788    40.82,-73.21    395
589          New York, NY  10167  40.755,-73.975    390
540          New York, NY  10004     40.7,-74.02    367
117          Brooklyn, NY  11201     40.7,-73.99    359
553          New York, NY  10019    40.77,-73.99    358
907      White Plains, NY  10601    41.03,-73.76    296
721         Rochester, NY  14623    43.09,-77.65    270
327       Garden City, NY  11530    40.73,-73.64    255
545          New York, NY  10010    40.73,-73.98    231
5              Albany, NY  12205    42.72,-73.83    226
572          New York, NY  10038   40.71,-74.003    224
467  Long Island City, NY  11101    40.74,-73.94    220

### creating user coordinates

In [136]:
users = users.loc[users.State == 'NY']

,UserID,WindowID,Split,City,State,Country,ZipCode,DegreeType,Major,GraduationDate,WorkHistoryCount,TotalYearsExperience,CurrentlyEmployed,ManagedOthers,ManagedHowMany
3,98,1,Train,Astoria,NY,US,11105,Master's,Journalism,2007-05-01 00:00:00,3,3.0,Yes,No,0
28,682,1,Train,Mount Kisco,NY,US,10549,High School,Not Applicable,2005-01-01 00:00:00,4,7.0,Yes,No,0
50,1355,1,Train,Bronx,NY,US,10466,Associate's,"Heating, Air Conditioning and Refrigeration Te...",2011-12-01 00:00:00,3,10.0,NaN,No,0
51,1363,1,Train,Rochester,NY,US,14626,Bachelor's,Rhetoric & Communications,2011-12-01 00:00:00,3,4.0,Yes,No,0
62,1721,1,Train,Staten Island,NY,US,10310,High School,Not Applicable,NaN,4,19.0,Yes,No,0

In [138]:

def creating_coordinates(df, column):
    df["Community"] = ""
    df["Coordinates"] = ""
    for zipcode in df[column].unique():
        community, coordinate = coordinates(zipcode)
        df.loc[df[column] == zipcode, "Coordinates"] =  str(coordinate)
        df.loc[df[column] == zipcode, "Community"] =  community
    return df
users = creating_coordinates(users, 'ZipCode')

In [140]:
users.groupby(['Community']).size().reset_index(name='Count').sort_values('Count', ascending=False).head(20)

                   Community  Count
85              Brooklyn, NY   2844
496             New York, NY   2069
82                 Bronx, NY   1916
608            Rochester, NY   1018
689        Staten Island, NY    468
356              Jamaica, NY    420
88               Buffalo, NY    321
801              Yonkers, NY    292
239             Flushing, NY    190
30               Astoria, NY    179
476         Mount Vernon, NY    146
314            Hempstead, NY    142
701             Syracuse, NY    127
593       Queens Village, NY    123
5                 Albany, NY    119
48             Bay Shore, NY    117
583         Poughkeepsie, NY    115
606            Ridgewood, NY    115
61            Binghamton, NY    112
683  Springfield Gardens, NY    104

### Distance Matrix

In [142]:
users.head(2)

,UserID,WindowID,Split,City,State,Country,ZipCode,DegreeType,Major,GraduationDate,WorkHistoryCount,TotalYearsExperience,CurrentlyEmployed,ManagedOthers,ManagedHowMany,Community,Coordinates
3,98,1,Train,Astoria,NY,US,11105,Master's,Journalism,2007-05-01 00:00:00,3,3.0,Yes,No,0,"Astoria, NY","40.78,-73.91"
28,682,1,Train,Mount Kisco,NY,US,10549,High School,Not Applicable,2005-01-01 00:00:00,4,7.0,Yes,No,0,"Mount Kisco, NY","41.2,-73.72"

In [143]:
jobs.head(2)

,JobID,WindowID,Title,Description,Requirements,City,State,Country,Zip5,StartDate,EndDate,Community,Coordinates
349,1285,1,SQL DBA,must be living in new york and be a u s citize...,education bachelor s degree in electrical engi...,New York,NY,US,0,2012-03-19 17:09:52.757,2012-04-18 23:59:59,None,"None,None"
350,1286,1,Customer Service Representative,superior staff resources is currently seeking ...,required skills qualifications nhigh school di...,Albany,NY,US,12203,2012-04-09 10:26:07.937,2012-05-08 23:59:59,"Albany, NY","42.68,-73.83"

In [145]:
apps.head(2)

   UserID  WindowID  Split          ApplicationDate   JobID
0      47         1  Train  2012-04-04 15:56:23.537  169528
1      47         1  Train  2012-04-06 01:03:00.003  284009

In [146]:
user_history.head(2)

,UserID,WindowID,Split,Sequence,JobTitle
0,47,1,Train,1,National Space Communication Programs-Special ...
1,47,1,Train,2,Detention Officer

### Subset most applied jobs by title

In [321]:
top_50_by_history = user_history.groupby(
    ['JobTitle']).size().reset_index(
    name='Count').sort_values('Count', ascending=False).head(top)
top_50_by_history.head(3)

                               JobTitle  Count
156590  Customer Service Representative  19672
98604                           Cashier  16368
22731          Administrative Assistant  16228

### Looking similar jobs

In [372]:
current_app_intercep = np.intersect1d(users.UserID.unique(), apps.UserID.unique())
historical_app_intercep = np.intersect1d(users.UserID.unique(), user_history.UserID.unique())
total_users = users.UserID.unique()
with_info =  set(current_app_intercep.tolist() + historical_app_intercep.tolist())

current_app = 1-len(current_app_intercep )/len(total_users )
historical_app = 1-len(historical_app_intercep)/ len(total_users )
cold_star_p = len(with_info)/len(total_users )

print(current_app_cold_star, historical_app_cold_star, cold_star_p)

0.17532782904322486 0.034677027683341466 0.9942690626517727

In [338]:
len(jobs.Title.unique())
len(top_50_by_history.JobTitle)
jobs.groupby(
    ['Title']).size().reset_index(
    name='Count').sort_values('Count', ascending=False).head(10000).Count.sum()
#10000 is almost the 100%

#Take the top 10 by top 1000

33493

In [ ]:
distance_jobs_df = pd.DataFrame(columns=jobs.JobID.unique(), index = users.index)

### Looks for most applied jobs id

In [322]:
top = 50
top_50_by_apps = apps.groupby(['JobID']).size().reset_index(name='Count').sort_values('Count', ascending=False).head(top)
top_50_by_apps.head(3)

         JobID  Count
6875     17361    208
295156  900797    203
22755    67239    189

In [164]:
liked_jobs['JobTitle'].iloc[0]

'Customer Service Representative'

In [166]:
jobs_counter = jobs.groupby(['Title', 'Coordinates']).size().reset_index(name='Count').sort_values('Count', ascending=False)

### Distance matrix

In [284]:
c1 = jobs.Coordinates.iloc[1].split(',')
c2 = users.Coordinates.iloc[0].split(',')

distance_jobs_df = pd.DataFrame(columns=jobs.JobID.unique(), index = users.index)

,1285,1286,1306,1348,1423,1459,1540,1664,1709,1730,...,1114880,1115288,1115719,1115793,1115799,1115981,1116070,1116153,1116242,1116307
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [302]:
job = (jobs_counter[jobs_counter['Title']==liked_jobs['JobTitle'].iloc[top_j]]).iloc[title_i]
#recommender_by_liked.append(job)
liked_jobs

Title          Sales Associate
Coordinates       40.75,-73.88
Count                        4
Name: 30743, dtype: object

In [285]:
distance_jobs_df.to_csv()

KeyboardInterrupt:

In [ ]:
### User x Jobs x Distance
for user in users:
    for job in jobs:
        c1 = jobs.Coordinates.iloc[1].split(',')
        c2 = users.Coordinates.iloc[0].split(',')

print (round(distance(c1, c2).miles, 2))
        update distance matrix

### Recomender top k liked

In [374]:
user_history.groupby(
    ['JobTitle']).size().reset_index(
    name='Count').sort_values('Count', ascending=False).head(3)

                               JobTitle  Count
156590  Customer Service Representative  19672
98604                           Cashier  16368
22731          Administrative Assistant  16228

In [376]:
jobs.columns

Index(['JobID', 'WindowID', 'Title', 'Description', 'Requirements', 'City',
       'State', 'Country', 'Zip5', 'StartDate', 'EndDate', 'Community',
       'Coordinates'],
      dtype='object')

In [379]:
jobs.groupby(
    ['Title', 'Coordinates']).size().reset_index(
    name='Count').sort_values('Count', ascending=False)

,Title,Coordinates,Count
24006,Own Your Own Franchise!,"None,None",296
17703,Inventory Taker,"None,None",185
22140,Mobile Tool Sales / Franchise Distributor,"None,None",142
31170,Sales Representative,"None,None",136
33408,Shift Supervisor,"None,None",124
27,(BSRO) - Automotive Lead Technician,"None,None",115
4716,Benefits Consultant,"None,None",89
9195,"Customer Account Representative, Now Accepting...","None,None",88
18010,Java/J2ee Developer,"40.75,-73.99",86
38255,j2ee Web Application Developer,"40.75,-73.99",86
34414,Sr. PL/SQL Developer/Architect,"40.75,-73.99",80
34456,Sr. QA Tester,"40.75,-73.99",73
2173,Administrative Assistant,"None,None",72
1528,Account Representative,"None,None",72
29195,Restaurant Team Member - Crew,"None,None",67
22034,Microstrategy Reports Developer,"40.75,-73.99",63
26606,Project Manager,"None,None",57
27909,Real Estate Sales Associate,"None,None",56
37975,Wellness Ambassador,"None,None",53
31257,Sales Representative / Account Manager / Cust...,"None,None",52
14490,Franchise – Business Opportunity – Sales,"None,None",50
17863,Jani-King Franchise Business Opportunity,"42.89,-78.89",48
17050,Informatica Systems Administrator,"40.705,-74.005",47
5477,Business Analyst,"None,None",47
37106,Utilization Management Nurse (Telecommuting Op...,"None,None",46
18358,LAMP Developer,"None,None",46
31281,Sales Representative / Customer Service / Acco...,"None,None",46
17861,Jani-King Franchise Business Opportunity,"40.75,-73.99",46
13430,FIX/Derivatives FpML Analyst,"40.75,-73.99",46
12966,Executive Assistant,"None,None",45
...,...,...,...
13655,Field Administrative Assistant,"None,None",1
13653,Field Account Manager - NY,"None,None",1
13652,Field Support NY (Job #10734),"40.73,-73.98",1
13651,Fiduciary Accountant/Paralegal,"40.75,-73.973",1
13650,Fence & Railing Inside Sales,"40.7,-73.83",1
13649,Feel the Warmtof a Brighter Career by the BayO...,"None,None",1
13648,Feel the Warmth of a Brighter Career by the Ba...,"None,None",1
13647,Fee-for-Service Bilingual Chinese (Cantonese/M...,"40.75,-73.99",1
13646,Fee for Service Social Workers Spanish Speakin...,"40.75,-73.91",1
13645,Fee for Service Licensed Social Worker - Bilin...,"40.75,-73.91",1
13644,Federal Tax/Benefits Editor,"40.791,-73.966",1
13643,Federal Tax Specialist,"40.7,-74.02",1
13642,Federal Tax - Manager to Senior Manager,"None,None",1
13640,Fast growing distributor seeking Warehouse Ass...,"40.78,-73.19",1
13624,Fantastic $300 Advertising Company seeks a Sen...,"40.76,-73.99",1
13639,Fast growing Law Firm seeks an Accounting Spec...,"40.755,-73.975",1
13638,Fast Food Restaurant Manager,"40.98,-73.69",1
13637,Fast Food Restaurant Manager,"40.67,-73.77",1
13636,Fast Food Chain Positions for experienced Area...,"None,None",1
13635,Fashion Eyewear Sales Representative - Outside...,"40.83,-73.95",1
13634,Fashion Designer,"40.72,-73.99",1
13633,Fashion Co. Seeks NYU students/alumni for Meas...,"None,None",1
13632,Fashion Brand seeks Assistant Merchandiser (fr...,"40.76,-73.99",1
13631,Fashion Brand Seeking Fabric R&D Manager ASAP!...,"40.76,-73.99",1
13630,Fashion Accessories Sales Manager - Bloomingda...,"40.73,-73.64",1
13629,Farm Help,"None,None",1
13628,Fantastic Web Developer Position(perm),"41.03,-73.76",1
13627,Fantastic VB.NET Developer Position(perm),"40.98,-73.69",1
13625,Fantastic IOS Developer Position(perm),"41.04,-73.81",1
38291,大手通信会社 Customer Support/Sales Assistant,"None,None",1

In [398]:
jobs.columns

Index(['JobID', 'WindowID', 'Title', 'Description', 'Requirements', 'City',
       'State', 'Country', 'Zip5', 'StartDate', 'EndDate', 'Community',
       'Coordinates'],
      dtype='object')

In [435]:
unique = 0.3 #update name
top = 20

def ranking_by_popularity(top):
    popular_jobs = user_history.groupby(
    ['JobTitle']).size().reset_index(
    name='Count').sort_values('Count', ascending=False)
    ranking =  dict()
    top_i = 0
    while True:
        job_title = popular_jobs['JobTitle'].iloc[top_i]
        jobs_list = jobs.loc[jobs['Title'] == job_title, ['JobID']]['JobID'].unique().tolist()

        if len(jobs_list) > 1:
            ranking[job_title] = jobs_list

        if len(ranking) == top:
            break

        top_i +=1
    return ranking

ranking_popular = ranking_by_popularity(top)

Byr

In [439]:
def recommender_popular_jobs(unique, top):
    for title, jobs in ranking_popular.items():
        
        print(title, jobs)
        print()

In [440]:
recommender_popular_jobs(unique, top)

Customer Service Representative [1286, 45221, 81985, 114603, 166448, 167048, 179806, 251827, 269842, 281541, 297127, 326664, 411934, 413800, 439449, 439450, 463566, 465726, 466749, 467025, 563680, 565289, 570367, 645244, 711541, 717681, 757626, 766361, 766984, 1015707, 1020509, 1020694, 1038330, 189005, 418335, 419762, 457079, 466587, 570133, 663645, 1020507, 1020841, 1021191, 1094681, 139713, 167197, 285661, 339154, 570160, 719627, 721402, 842991, 862003, 869954, 874934, 901301, 971145, 1101316, 118506, 125463, 167663, 420718, 424755, 467397, 467595, 620972, 756929, 766515, 825101, 870268, 972723, 1021437, 1021439, 1049590, 127898, 167887, 419760, 429584, 466522, 467973, 587383, 635970, 767282, 767840, 911376, 925088, 1019998, 1021739, 73432, 127578, 129667, 166696, 167855, 321247, 465731, 468115, 724965, 774035, 917817, 1001278, 1081608, 68682, 127767, 166902, 167564, 167891, 277750, 508674, 514753, 589291, 657967, 767844, 806780, 819507, 1021544, 1077010]

Cashier [391531, 91129, 966783, 138535, 1000357, 138444, 438384, 261595, 138686, 668223]

Administrative Assistant [16498, 73669, 103244, 113199, 158963, 163509, 166353, 166430, 166503, 166660, 166716, 172975, 200288, 225507, 247174, 247175, 266927, 269920, 284105, 306156, 318251, 318441, 327364, 364544, 380893, 434525, 457057, 460461, 463538, 463602, 466418, 466717, 466725, 466771, 466879, 480109, 482639, 518475, 527213, 563548, 579598, 602003, 615253, 623289, 623852, 633453, 650721, 657884, 680640, 709814, 712095, 712193, 715526, 737601, 766725, 766742, 766814, 768483, 772865, 776986, 793147, 807082, 809294, 812809, 819834, 842287, 843858, 924890, 928384, 954186, 960185, 975399, 980830, 1000038, 1004805, 1005351, 1010164, 1020505, 1020506, 1020595, 1020769, 1020916, 1075638, 1078866, 1097745, 14034, 19802, 103245, 103246, 115764, 115800, 147340, 166400, 166865, 168622, 176408, 233833, 234275, 239701, 270060, 270433, 274495, 312243, 319967, 345360, 358314, 373912, 373915, 434403, 437782, 437789, 437794, 466375, 466663, 467115, 507150, 550058, 561268, 619922, 685127, 695182, 709816, 763440, 766841, 767185, 862367, 914477, 933844, 1000044, 1021002, 1021199, 1053503, 1091935, 1096807, 1106419, 20875, 138039, 138047, 167196, 209597, 241502, 261886, 310831, 330119, 467102, 527124, 582563, 587550, 616601, 749093, 766242, 766982, 766991, 786742, 821313, 847297, 862378, 899168, 969256, 988032, 1021177, 10618, 21106, 28191, 35862, 152495, 167413, 167516, 167517, 254241, 274425, 307448, 345333, 358874, 437798, 437801, 463953, 467365, 467423, 467941, 476618, 484652, 490458, 599964, 682201, 695183, 695188, 701838, 737639, 744591, 766884, 807570, 841168, 841170, 842289, 867327, 954108, 990684, 1000050, 1100349, 35254, 36397, 42828, 45292, 123371, 166422, 167960, 172978, 201009, 334914, 411299, 487762, 554011, 567126, 577304, 599478, 617073, 661888, 762480, 767766, 812656, 879472, 880239, 953400, 1000062, 1018767, 1040817, 1054680, 1073328, 1098944, 2324, 167650, 167689, 167909, 167934, 167945, 243711, 266688, 268211, 322113, 427331, 460955, 466385, 467180, 467956, 467972, 599222, 621452, 643144, 766667, 767646, 918996, 957541, 996749, 1021595, 1074471, 8895, 26446, 155533, 167137, 184007, 239704, 467971, 561627, 582826, 767403, 767509, 767756, 767908, 809238, 859821, 886473, 938416, 938435, 938468, 971294, 996970, 1017964, 1086829, 1099256]

Sales Associate [241791, 328158, 407797, 542008, 617604, 759978, 918301, 1074796, 490406, 1074810, 150907, 198199, 282090, 841967, 581784, 880436, 978490, 241778, 542060, 241794, 577014, 842005, 973034, 1019147, 1074275, 241780, 241857, 542005, 542022, 542527, 576190, 842002]

Assistant Manager [108324, 209246, 273546, 273547, 317523, 317524, 323490, 327285, 333133, 614243, 617603, 633452, 639970, 809332, 844736, 844737, 973639, 973651, 1017906, 1046532, 16125, 447128, 616245, 633177, 873733, 23567, 317522, 323521, 333134, 401030, 505369, 758018, 873735, 316108, 447130, 447131, 623508, 809335, 844766, 844767, 911777, 317525, 333418, 616250, 673473, 844780, 917130, 323518, 323546, 447127, 662102, 911775, 85806, 323501, 323531, 401062, 622333, 700802, 973656]

Office Manager [203695, 336191, 626475, 899230, 912822, 916317, 95012, 167324, 310757, 352576, 882404, 141812, 326003, 564226, 597758, 910403, 36380, 316705, 467682, 577459, 954531, 1050154, 620900, 138054, 467492, 767186, 664416, 767784]

Manager [5415, 50862, 1079120, 392224, 512964, 173573, 179660, 1079128, 173117, 639957, 1079127, 1097462]

Receptionist [35270, 50712, 166976, 267970, 345262, 466716, 506244, 518270, 541933, 545251, 569775, 591265, 615884, 699941, 737595, 766495, 766878, 806924, 896434, 917367, 953703, 1020915, 1020952, 1051409, 1094591, 254592, 466982, 719353, 899212, 957416, 1041241, 1061638, 167507, 172977, 291417, 458709, 766243, 776478, 806598, 1020482, 14213, 72239, 207062, 247153, 466614, 507288, 163992, 167875, 167938, 252551, 274118, 631617, 732907, 767868, 912593, 919705, 995471, 1021776, 13463, 158440, 167856, 244778, 251640, 467820, 469815, 551437, 599982, 993622, 168045, 352610, 365874, 495151, 794498, 1006611]

Customer Service [27001, 166718, 206697, 206703, 473162, 834570, 919218, 210916, 233871, 797214, 942396, 119569, 206902, 329160, 352746, 725530, 772866, 129496, 467634, 806507, 806575, 1056741, 441801, 194585, 271012]

Store Manager [164798, 225011, 242173, 245782, 285098, 438029, 438218, 528220, 542483, 599693, 611151, 616396, 828118, 842388, 1075099, 24255, 26826, 38545, 433873, 438065, 578489, 659197, 737871, 859218, 64618, 148789, 737769, 737882, 911770, 1058906, 379966, 542569, 737798, 885914, 917611, 1037680, 1065073, 16126, 44941, 79901, 138381, 380191, 492438, 562069, 562070, 644935, 680268, 737836, 740365, 784964, 911774, 918455, 958661, 1000329, 79766, 138368, 138504, 138675, 191995, 222645, 644950, 942497, 1000524, 1074622, 1092123, 24267, 138502, 239667, 644940, 1000174]

General Manager [52455, 244733, 332725, 352353, 396620, 544791, 844749, 884210, 920553, 1076792, 372695, 373693, 431878, 624219, 684930, 776036, 796042, 244503, 244504, 317303, 544809, 544819, 632806, 13324, 274771, 365151, 578938, 818209, 953885, 54330, 277620, 887526, 258044, 286330, 544957, 762376, 912636, 912637, 1017053, 278853, 362203, 733979, 733980, 954027, 966290]

Sales Representative [16663, 17108, 162830, 170902, 197037, 251221, 277518, 297529, 471123, 471129, 499219, 770594, 823775, 904873, 904875, 971493, 1023787, 1023788, 1023808, 1052733, 1052738, 1081471, 1101136, 2578, 42752, 139365, 171016, 171041, 178010, 269943, 325811, 471107, 471118, 471207, 472436, 510053, 560139, 579490, 616752, 746948, 746950, 770859, 770960, 772166, 772169, 832018, 870016, 883687, 1004919, 1023781, 1023842, 6460, 95094, 170923, 260013, 273850, 278662, 439165, 462964, 471192, 471199, 471211, 471214, 478918, 617343, 797367, 865010, 889352, 1006529, 1016425, 1018068, 1023855, 1108665, 293235, 471225, 511289, 578753, 589369, 592923, 606642, 746947, 746954, 878143, 878650, 889846, 897518, 897520, 904874, 1092384, 1100579, 1104980, 1114527, 22823, 42753, 44003, 171682, 230737, 231882, 293349, 293397, 293398, 293583, 293948, 368051, 380936, 396435, 578751, 593004, 593044, 593398, 593432, 597447, 597486, 606643, 892865, 892866, 892912, 892996, 897519, 946754, 970218, 1111529, 1111530, 1111531, 1111560, 101806, 192960, 293278, 293399, 293582, 293584, 297209, 344070, 462752, 496669, 592922, 592965, 592967, 593003, 593431, 593448, 593470, 597481, 692322, 892867, 892913, 892914, 892955, 892998, 897521, 897568, 917158, 1041789, 1041790, 1111106, 1111107, 1111598, 1114017, 172242, 293350, 293351, 297264, 297265, 297269, 496991, 593006, 593007, 593008, 597458, 597485, 702911, 772170, 878660, 892997, 897532, 897561, 897565, 897566, 897569, 897570, 897584, 916606, 1111561, 1111599, 1111600, 1111601, 1114518, 1114524, 1114556]

Medical Assistant [500694, 615511, 663607, 7592, 1031700, 607729, 165179, 447257, 615741, 642296, 778080, 38660, 919336]

Customer Service Rep [382301, 526663, 625754, 920072, 27655, 121365, 988420, 796410, 960187, 437295]

Project Manager [19101, 23599, 113917, 115065, 117418, 154047, 262188, 264489, 318466, 318682, 319364, 352173, 357702, 414551, 416329, 453851, 457215, 468706, 552159, 563667, 581550, 589311, 618969, 619343, 712107, 713169, 713174, 743967, 753810, 788622, 809056, 889291, 904465, 913702, 914272, 917222, 984639, 985743, 1014885, 1039523, 1056961, 1081627, 19588, 19783, 22474, 25894, 103588, 217581, 270160, 289208, 297957, 416819, 416849, 525481, 574805, 589309, 620177, 685117, 714418, 743975, 759654, 904209, 917151, 984215, 986779, 987776, 1015739, 1075321, 20482, 24235, 124465, 152890, 181745, 192027, 320812, 454483, 492208, 620457, 620720, 626449, 650724, 721603, 889297, 927741, 929583, 1018622, 1046656, 21268, 89229, 126193, 181433, 280100, 396658, 454707, 605858, 652214, 799935, 800830, 823286, 989781, 1024772, 1043087, 1051915, 1103106, 127739, 154856, 184683, 207787, 390024, 399524, 426161, 454716, 562293, 577938, 578564, 621473, 697646, 723794, 754497, 754500, 815002, 965752, 978845, 991956, 1036721, 1043181, 5708, 83556, 126187, 127630, 127738, 146297, 155063, 237808, 390276, 406361, 423895, 427747, 450674, 517970, 680639, 727419, 762709, 938139, 949356, 993457, 1086430, 1094440, 89709, 128307, 177725, 493324, 748274, 834507, 988562, 993925, 1004761, 1039749]

Office Assistant [466435, 612148, 766499, 373436, 920561, 1041713, 767233, 767534, 877903, 467427, 912061, 164041, 168005, 767772, 282442]

Intern [80258, 348216, 648233, 648234, 935220, 1069234, 923688, 234601]

Operations Manager [92945, 258892, 622730, 859014, 1922, 605737, 1082124, 332545, 904224, 32883, 32894, 332574, 332585, 332602, 334460, 632627, 32836, 32863, 332538, 632657, 696353, 735759]

Account Executive [86184, 105587, 160933, 177071, 181407, 199448, 269333, 312283, 363204, 379128, 395498, 405724, 405725, 468640, 558384, 563599, 579185, 703093, 705412, 709354, 798948, 868542, 868563, 925427, 928488, 956357, 972731, 982804, 1098238, 10826, 157086, 227425, 299992, 310981, 310982, 317570, 327760, 410835, 587531, 596858, 611001, 615175, 705420, 777183, 799707, 931993, 977022, 1039625, 10823, 109856, 308990, 448052, 452317, 475921, 524707, 948127, 1028299, 1093735, 1093753, 106024, 198197, 316001, 316004, 422949, 521633, 555085, 626882, 649792, 771117, 821097, 974391, 11452, 67131, 85901, 222636, 264659, 312338, 312341, 448053, 777184, 859022, 874726, 876773, 909034, 1075917, 1086685, 12204, 171221, 265259, 425630, 684132, 865392, 866785, 219823, 280813, 479719, 501441, 565749, 709355, 766176, 866620, 909033]

Driver [133413, 340476, 40865, 186274, 198974, 910799, 777682, 808348, 331601, 506812, 844128, 282575, 509473, 545391, 640519, 745263, 1045792]

In [ ]:
def recommender_popular_jobs(unique, top):
     available_jobs = jobs.groupby(
    ['Title',  'Coordinates']).size().reset_index(
    name='Count').sort_values('Count', ascending=False)
    
    top_j = 0
    title_i = 0
    ranking =  list()
    
    for recom in range(top):
        try:
            job = (available_jobs[available_jobs['Title']==popular_jobs['JobTitle'].iloc[top_j]]).iloc[title_i]
            ranking.append(job)
            title_i += 1
            if sum([recom, 1]) % int(unique*top) == 0:
                top_j += 1
                title_i = 0
        except:
            top_j += 1
            title_i = 0