<a href="https://colab.research.google.com/github/reloef/Jobs_Recommender/blob/master/Skills_exper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import libraries
import requests
import pandas as pd
import time

#Import warnings
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter(action='ignore', category=FutureWarning)

# imports for NLP
import pandas as pd
import numpy as np
import nltk
import string
import re
from sklearn.pipeline import Pipeline
import pickle


# feature extraction
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

# Preprocessing
#import contractions
import os
from nltk.tokenize import WordPunctTokenizer
from bs4 import BeautifulSoup
from textblob import TextBlob
from collections import Counter
from nltk.corpus import wordnet
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from nltk.tokenize import TweetTokenizer
from nltk.stem.porter import *
import spacy
from spacy import displacy
from spacy.lang.en.stop_words import STOP_WORDS
from sklearn.preprocessing import label_binarize
from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving SA.csv to SA.csv

In [ ]:
import io

##Ruquest API from careerjet

In [ ]:
df = pd.read_csv(io.BytesIO(uploaded['SA.csv']))
print(df)

                locations  site                       date  \
0   Johannesburg, Gauteng   NaN  2022-04-29 07:52:13+00:00
1       Pretoria, Gauteng   NaN  2022-04-24 07:36:21+00:00
2   Johannesburg, Gauteng   NaN  2022-04-20 23:49:44+00:00
3   Midrand, Johannesburg   NaN  2022-04-15 06:38:12+00:00
4   Midrand, Johannesburg   NaN  2022-04-15 01:04:44+00:00
..                    ...   ...                        ...
94  Johannesburg, Gauteng   NaN  2022-04-27 22:05:38+00:00
95           South Africa   NaN  2022-04-27 22:01:12+00:00
96  Johannesburg, Gauteng   NaN  2022-04-27 07:55:07+00:00
97  Johannesburg, Gauteng   NaN  2022-04-27 07:44:14+00:00
98           South Africa   NaN  2022-04-27 05:23:19+00:00

                                                  url  \
0   http://jobviewtrack.com/en-za/job-1f1841694c10...
1   http://jobviewtrack.com/en-za/job-4f13416c7a37...
2   http://jobviewtrack.com/en-za/job-121341694c10...
3   http://jobviewtrack.com/en-za/job-1c1b41694c10...
4   http://jobviewtrack.com/en-za/job-1c1b41694c10...
..                                                ...
94  http://jobviewtrack.com/en-za/job-1e1241694c10...
95  http://jobviewtrack.com/en-za/job-1e1c416a5f05...
96  http://jobviewtrack.com/en-za/job-4b4d416c5711...
97  http://jobviewtrack.com/en-za/job-4c1a417e480a...
98  http://jobviewtrack.com/en-za/job-1c4a41694c10...

                                                title  \
0                     Data Analytics Sales Specialist
1   AWS Data Science Architect – Semi Remote – R74...
2              Consultant, Data Science and Analytics
3   AWS Data Science Architect (Contract) Midrand/...
4   AWS Data Science Architect (Contract) Midrand/...
..                                                ...
94            Data Engineer and Management Specialist
95  Data and Analytics 2023 Graduate Programme (Jo...
96  Senior Azure Data Engineer – Sandton – up to R...
97            Senior Data Analyst - Mining - Contract
98                                      Analyst: Data

                                          description                 company  \
0    Warehouses, <b>Data</b> Streaming, ETL, <b>Da...                  Google
1    AWS <b>Data</b> <b>Science</b> Architect to j...  e-Merge IT Recruitment
2      Consultant, <b>Data</b> <b>Science</b> and ...              TransUnion
3   AWS <b>Data</b> <b>Science</b> Architect (Cont...       iSanqa Resourcing
4   AWS <b>Data</b> <b>Science</b> Architect (Cont...       iSanqa Resourcing
..                                                ...                     ...
94  Johannesburg North - Mindworx is hiring <b>Dat...                Mindworx
95     Strong academic record including a degree i...                      EY
96   of practical analytics and smart technologies...  e-Merge IT Recruitment
97   origin of a <b>data</b> field and all the pro...            Talent Genie
98   to business problems. Build scalable infrastr...           Standard Bank

                 salary  salary_min salary_type salary_currency_code  \
0                   NaN         NaN         NaN                  NaN
1   R619 - 742 per hour       619.0           H                  ZAR
2                   NaN         NaN         NaN                  NaN
3                   NaN         NaN         NaN                  NaN
4                   NaN         NaN         NaN                  NaN
..                  ...         ...         ...                  ...
94                  NaN         NaN         NaN                  NaN
95                  NaN         NaN         NaN                  NaN
96                  NaN         NaN         NaN                  NaN
97                  NaN         NaN         NaN                  NaN
98                  NaN         NaN         NaN                  NaN

    salary_max
0          NaN
1        742.0
2          NaN
3          NaN
4          NaN
..         ...
94         NaN
95         NaN
96         NaN
97         NaN
98         NaN

[99 rows x 12 columns]

In [ ]:
df.head()

,locations,site,date,url,title,description,company,salary,salary_min,salary_type,salary_currency_code,salary_max
0,"Johannesburg, Gauteng",NaN,2022-04-29 07:52:13+00:00,http://jobviewtrack.com/en-za/job-1f1841694c10...,Data Analytics Sales Specialist,"Warehouses, <b>Data</b> Streaming, ETL, <b>Da...",Google,NaN,NaN,NaN,NaN,NaN
1,"Pretoria, Gauteng",NaN,2022-04-24 07:36:21+00:00,http://jobviewtrack.com/en-za/job-4f13416c7a37...,AWS Data Science Architect – Semi Remote – R74...,AWS <b>Data</b> <b>Science</b> Architect to j...,e-Merge IT Recruitment,R619 - 742 per hour,619.0,H,ZAR,742.0
2,"Johannesburg, Gauteng",NaN,2022-04-20 23:49:44+00:00,http://jobviewtrack.com/en-za/job-121341694c10...,"Consultant, Data Science and Analytics","Consultant, <b>Data</b> <b>Science</b> and ...",TransUnion,NaN,NaN,NaN,NaN,NaN
3,"Midrand, Johannesburg",NaN,2022-04-15 06:38:12+00:00,http://jobviewtrack.com/en-za/job-1c1b41694c10...,AWS Data Science Architect (Contract) Midrand/...,AWS <b>Data</b> <b>Science</b> Architect (Cont...,iSanqa Resourcing,NaN,NaN,NaN,NaN,NaN
4,"Midrand, Johannesburg",NaN,2022-04-15 01:04:44+00:00,http://jobviewtrack.com/en-za/job-1c1b41694c10...,AWS Data Science Architect (Contract) Midrand/...,AWS <b>Data</b> <b>Science</b> Architect (Cont...,iSanqa Resourcing,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   locations             99 non-null     object
 1   site                  0 non-null      float64
 2   date                  99 non-null     object
 3   url                   99 non-null     object
 4   title                 99 non-null     object
 5   description           99 non-null     object
 6   company               83 non-null     object
 7   salary                13 non-null     object
 8   salary_min            13 non-null     float64
 9   salary_type           13 non-null     object
 10  salary_currency_code  13 non-null     object
 11  salary_max            13 non-null     float64
dtypes: float64(3), object(9)
memory usage: 9.4+ KB

In [ ]:
descr = df['description']

In [ ]:
 df_1 = pd.DataFrame.from_dict(df)

In [ ]:
df_1.head()

,locations,site,date,url,title,description,company,salary,salary_min,salary_type,salary_currency_code,salary_max
0,"Johannesburg, Gauteng",NaN,2022-04-29 07:52:13+00:00,http://jobviewtrack.com/en-za/job-1f1841694c10...,Data Analytics Sales Specialist,"Warehouses, <b>Data</b> Streaming, ETL, <b>Da...",Google,NaN,NaN,NaN,NaN,NaN
1,"Pretoria, Gauteng",NaN,2022-04-24 07:36:21+00:00,http://jobviewtrack.com/en-za/job-4f13416c7a37...,AWS Data Science Architect – Semi Remote – R74...,AWS <b>Data</b> <b>Science</b> Architect to j...,e-Merge IT Recruitment,R619 - 742 per hour,619.0,H,ZAR,742.0
2,"Johannesburg, Gauteng",NaN,2022-04-20 23:49:44+00:00,http://jobviewtrack.com/en-za/job-121341694c10...,"Consultant, Data Science and Analytics","Consultant, <b>Data</b> <b>Science</b> and ...",TransUnion,NaN,NaN,NaN,NaN,NaN
3,"Midrand, Johannesburg",NaN,2022-04-15 06:38:12+00:00,http://jobviewtrack.com/en-za/job-1c1b41694c10...,AWS Data Science Architect (Contract) Midrand/...,AWS <b>Data</b> <b>Science</b> Architect (Cont...,iSanqa Resourcing,NaN,NaN,NaN,NaN,NaN
4,"Midrand, Johannesburg",NaN,2022-04-15 01:04:44+00:00,http://jobviewtrack.com/en-za/job-1c1b41694c10...,AWS Data Science Architect (Contract) Midrand/...,AWS <b>Data</b> <b>Science</b> Architect (Cont...,iSanqa Resourcing,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_1['description'][5]

'I am representing a reputable insurance giant who is looking for <b>Data</b> <b>Science</b> Manager to lead their team. The ideal... today.   We require a candidate with:   Min 4 Years exp.   Machine learning   Maths AND <b>Data</b> experience   Should you meet the...'

In [ ]:
df_1.shape

(99, 12)

Check for nulls in descrition column

In [ ]:
df_1['description'].isna().sum()

0

Cleaning description column data

In [ ]:
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [ ]:
from textblob import Word

## Lower case
df_1['description'] = df_1['description'].apply(lambda x: " ".join(x.lower()for x in x.split()))
## remove tabulation and punctuation
df_1['description'] = df_1['description'].str.replace('[^\w\s]',' ')
## digits
#df_1['description'] = df_1['description'].str.replace('\d+', '')

#remove single letters
df_1['description'] = df_1['description'].str.replace(r'\b\w\b', '').str.replace(r'\s+', ' ')

#remove stop words

stop = stopwords.words('english')
df_1['description'] = df_1['description'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

## lemmatization
df_1['description'] = df_1['description'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

print("Preprocessed data: \n")

Preprocessed data:

In [ ]:
df_1.head()

,locations,site,date,url,title,description,company,salary,salary_min,salary_type,salary_currency_code,salary_max
0,"Johannesburg, Gauteng",NaN,2022-04-29 07:52:13+00:00,http://jobviewtrack.com/en-za/job-1f1841694c10...,Data Analytics Sales Specialist,warehouse data streaming etl data governance b...,Google,NaN,NaN,NaN,NaN,NaN
1,"Pretoria, Gauteng",NaN,2022-04-24 07:36:21+00:00,http://jobviewtrack.com/en-za/job-4f13416c7a37...,AWS Data Science Architect – Semi Remote – R74...,aws data science architect join dynamic team r...,e-Merge IT Recruitment,R619 - 742 per hour,619.0,H,ZAR,742.0
2,"Johannesburg, Gauteng",NaN,2022-04-20 23:49:44+00:00,http://jobviewtrack.com/en-za/job-121341694c10...,"Consultant, Data Science and Analytics",consultant data science analytics research tec...,TransUnion,NaN,NaN,NaN,NaN,NaN
3,"Midrand, Johannesburg",NaN,2022-04-15 06:38:12+00:00,http://jobviewtrack.com/en-za/job-1c1b41694c10...,AWS Data Science Architect (Contract) Midrand/...,aws data science architect contract midrand me...,iSanqa Resourcing,NaN,NaN,NaN,NaN,NaN
4,"Midrand, Johannesburg",NaN,2022-04-15 01:04:44+00:00,http://jobviewtrack.com/en-za/job-1c1b41694c10...,AWS Data Science Architect (Contract) Midrand/...,aws data science architect contract midrand me...,iSanqa Resourcing,NaN,NaN,NaN,NaN,NaN

In [ ]:
decr=df_1['description']

In [ ]:
print(decr[7])

data science senior manager gautengduties responsibilitiesas senior data scientist primary role lead participate data science project solving variety use case across group customer

In [ ]:
#def list_numbers_in_words(decr):
#    ns = str(n)
#    single_digits = ["zero", "one", "two", "three",  
#                     "four", "five", "six", "seven",  
#                     "eight", "nine"]
#    return [
#        single_digits[int(nsi)]
#        for nsi in ns
#    ]

In [ ]:
print(decr.tail())

94    johannesburg north mindworx hiring data engine...
95    strong academic record including degree one fo...
96    practical analytics smart technology hunt seas...
97    origin data field process use field qualificat...
98    business problem build scalable infrastructure...
Name: description, dtype: object

In [ ]:
dictnr = {'experience','years','2 years','3 years','4 years','5 years','2 yrs','3 yrs','4 yrs','5 yrs','min 2 years','min 3 years','min 4 years','min 5 years'}

In [ ]:
#dff['Skills+experience'] = dff['description'].str.extract('_(V\d+)$').fillna('')

Creating the skills+experience column

In [ ]:
def create_2_grams(list_):
    two_grams=[]
    for i in range(len(list_)-1):
        two_grams.append(list_[i]+" "+list_[i+1])
    return two_grams

def find_skillsexp(description_):
    description_=remove_punctuation(description_)
    message_tokens=description_.lower().split()
    one_grams=[x for x in message_tokens if x in dictnr]
    return one_grams

def add_skills_exp(df_1):
    df_1['skills_expeience']=np.nan
    df_1['skills_expeience']=df_1['description'].map(find_skillsexp)
    return df_1

def remove_punctuation(words):
    words_2=re.sub(r'[^\w\s]','',words)
    words_3=re.sub(r'<b>','',words_2)
    words_4=re.sub(r'</b>','',words_3)
    return words_4

In [ ]:
df_jobs=add_skills_exp(df_1)
df_jobs.head()

,locations,site,date,url,title,description,company,salary,salary_min,salary_type,salary_currency_code,salary_max,skills_expeience
0,"Johannesburg, Gauteng",NaN,2022-04-29 07:52:13+00:00,http://jobviewtrack.com/en-za/job-1f1841694c10...,Data Analytics Sales Specialist,warehouse data streaming etl data governance b...,Google,NaN,NaN,NaN,NaN,NaN,"[experience, experience, experience]"
1,"Pretoria, Gauteng",NaN,2022-04-24 07:36:21+00:00,http://jobviewtrack.com/en-za/job-4f13416c7a37...,AWS Data Science Architect – Semi Remote – R74...,aws data science architect join dynamic team r...,e-Merge IT Recruitment,R619 - 742 per hour,619.0,H,ZAR,742.0,"[experience, experience]"
2,"Johannesburg, Gauteng",NaN,2022-04-20 23:49:44+00:00,http://jobviewtrack.com/en-za/job-121341694c10...,"Consultant, Data Science and Analytics",consultant data science analytics research tec...,TransUnion,NaN,NaN,NaN,NaN,NaN,[]
3,"Midrand, Johannesburg",NaN,2022-04-15 06:38:12+00:00,http://jobviewtrack.com/en-za/job-1c1b41694c10...,AWS Data Science Architect (Contract) Midrand/...,aws data science architect contract midrand me...,iSanqa Resourcing,NaN,NaN,NaN,NaN,NaN,[experience]
4,"Midrand, Johannesburg",NaN,2022-04-15 01:04:44+00:00,http://jobviewtrack.com/en-za/job-1c1b41694c10...,AWS Data Science Architect (Contract) Midrand/...,aws data science architect contract midrand me...,iSanqa Resourcing,NaN,NaN,NaN,NaN,NaN,[]

In [ ]:
df_jobs['skills_expeience'].isna().sum()

0

In [ ]:
df_jobs['skills_expeience']

0     [experience, experience, experience]
1                 [experience, experience]
2                                       []
3                             [experience]
4                                       []
                      ...
94                                      []
95                            [experience]
96                                      []
97                                      []
98                                      []
Name: skills_expeience, Length: 99, dtype: object

In [ ]:
df_jobs['skills_expeience'].head(20)

0     [experience, experience, experience]
1                 [experience, experience]
2                                       []
3                             [experience]
4                                       []
5                             [experience]
6                                       []
7                                       []
8                                       []
9                                       []
10                            [experience]
11    [experience, experience, experience]
12                                      []
13                                      []
14                                      []
15                                      []
16                                      []
17                                      []
18                            [experience]
19    [experience, experience, experience]
Name: skills_expeience, dtype: object

In [ ]:
df_jobs['description'][0]

'warehouse data streaming etl data governance business intelligence predictive analytics olap data science framework experience experience selling data analytics software solution experience global analytics market'

In [ ]:
import textwrap
print(textwrap.fill(df_jobs['description'][70], 70))

qualification experience required minimum year bachelor degree
business science information system data science degree data analyst
sale coordinator plattekloof cape town start immediately month
contract client

Why does it seem the South African data does not contain years or duration for acquired skills?

Perhaps focus on skills only?